[2017-10-04 13:02] davidovich opened #1 "Chartmuseum should have it's helm chart"
This would allow easy installation in a kubernetes cluster.

[2017-10-04 13:39] jdolitsky commented on #1
@davidovich you can find the chartmuseum chart in the official kubernetes incubator: https://github.com/kubernetes/charts/tree/master/incubator/chartmuseum

Also on KubeApps:
https://kubeapps.com/charts/incubator/chartmuseum

Keep in mind that it's currently missing a lot in terms of storage options. For now, it's just using an emptyDir volume, which should stick around as long as the pod. If you

[2017-10-04 13:39] #1 closed

[2017-10-05 09:55] trobert2 opened #2 "Unable to start docker image"
I believe that more details about how the tool woks is needed:
 [1] What is the basic set of IAM permissions needed to work with this?
 [1] Will the tool work with aws profiles (as per the existing example mounting `~/.aws` in the docker image)
 [1] How is the bucket accessed? Is the data replicated and then served?

Example that didn't work for me, but worked for calling the API:
policy attached

[2017-10-05 19:27] davidovich commented on #1
Thank you, my colleague @cjauvin will be implementing this PR soon.

[2017-10-05 23:19] jdolitsky commented on #2
Hi, I'm not sure best way to assist with this. Get/List should be enough if you're only using this for GET requests, otherwise you will need write permissions as well.

Can you please try running the binary and see if you get the same result locally? You can also try replacing the -v ~/.aws:/root/.aws:ro with -e AWS_ACCESS_KEY_ID=xxx and -e AWS_SECRET_ACCESS_KEY=xxx and see how that works

[2017-10-06 03:46] jdolitsky commented on #2
@trobert2 can you please make sure your credentials are working with the following
[code]

[2017-10-06 07:16] trobert2 commented on #2
@jdolitsky as specified the credentials and the roles in the profile have been tested with listing/getting objects in that bucket. I think the best way to help the users would be to improve the documentation.

Running the command that you suggested tells me that there aren't write permissions in the attached `.aws` volume

[code]

[2017-10-06 07:23] trobert2 commented on #2
with regards to the suggestion of using `-e AWS_ACCESS_KEY_ID=xxx and -e AWS_SECRET_ACCESS_KEY=xxx`, The user created for this purpose only has permissions to assume role, so the config section would have to be there as per: http://docs.aws.amazon.com/cli/latest/userguide/cli-roles.html

This is the accepted "most secure" way of doing it. We need this to pass auditing in our company.
**FOR OTHER R

[2017-10-06 12:37] mahnkong opened #3 "Add possibility to overwrite chart in repository"
Hi there,

it should be possible to overwrite existing charts served by the museum (i.e. to use PUT for creation and POST for updating a chart resource) - this would be especially useful when serving charts still under development. (similar to the possibility of uploading maven snapshots several times in the Java world)

This feature should be disabled by default and optionally enabled by providin

[2017-10-06 14:36] jdolitsky commented on #3
Hi Andreas, this is not a bad idea. Do you mean POST for create, PUT for update? Can you please describe what this would look like in terms of the API? For example, would the new route be
`PUT /api/charts/<name>/<version>` ?

If you want to achieve this right now, you could do a DELETE then a POST

[2017-10-06 14:44] jdolitsky commented on #2
@trobert2 can you try this command using an image with built-in awscli?
[code]

If that still doesn't work, would you mind trying the first command with the `:ro` removed?

[2017-10-07 16:06] trobert2 commented on #2
removing the `read only flag` allows me to list the objects in the bucket. Running the initial command with the same condition, yields the same error.

[2017-10-07 16:10] jdolitsky commented on #2
hm ok. Can you maybe try to change the policy from
`"Resource": "arn:aws:s3:::*"` to
`"Resource": "arn:aws:s3:::mycompany-helmcharts/*"`
?

[2017-10-07 16:37] trobert2 commented on #2
No luck. Do you expect any write permissions for doing something with `index.yaml` ?
Is this set-up working for you? can you reproduce it under the same conditions?

[2017-10-07 16:49] jdolitsky commented on #2
I'm wondering if it has to do with the permissions on the objects in the bucket.. Are you already storing .tgz files at that location? I'm wondering if you would have same result with `"Action": "s3:*"`

I just tried your original policy and it works for me, in Docker

If you want to message me on kubernetes slack, we can work through this in realtime

[2017-10-09 08:39] trobert2 commented on #2
attaching the policy to the group that the user belongs to works. I have managed to start the service. I believe the `profiles` are the culprit here, unless there's a PEBKAC somewhere, which I can't see.

This is the policy I used in the end:
[code]

[2017-10-09 16:33] jdolitsky commented on #2
Closing this issue as it was related to AWS/environment. Will add more details on necessary AWS policies needed to run this in the near future.

[2017-10-09 16:33] #2 closed

[2017-10-10 08:02] mahnkong commented on #3
Hi, yes exactly something like that was the idea. ( I always mix up POST vs PUT ;) ) In the mean time, I will use the DELETE and POST approach.

[2017-10-10 15:11] cjauvin opened #7 "Add possibility to post form data"
Hi,

Would you be open to the idea of also supporting form data posts? With it, it would be possible to upload a chart by doing something like:

[code]

[2017-10-10 15:15] jdolitsky commented on #7
Hi, I'm not necessarily opposed. Can you explain the use case? Does the current method of uploading not work for your implementation?

[2017-10-10 15:34] cjauvin commented on #7
In our own tooling we had studied the question a while ago and went with `multipart/form-data` because it is apparently more efficient in this context:

https://stackoverflow.com/questions/14063311/curl-post-data-binary-vs-form/26894918#26894918
https://stackoverflow.com/questions/4007969/application-x-www-form-urlencoded-or-multipart-form-data/4073451#4073451

So given that our tooling is already

[2017-10-10 15:47] jdolitsky commented on #7
Ok. I'm totally fine with it so long as both methods are supported. If you want to submit a PR please feel free :)

I'd like to use the name of the route as the form field, i.e. "chart" for POST /api/charts and "prov" for POST /api/prov. Ideally both "chart" and "prov" could be passed to POST /api/charts so we can deprecate POST /api/prov in the future.

If the form field is not found in the reque

[2017-10-10 15:52] jdolitsky commented on #3
What are your thoughts on _not_ adding an additional API route, but instead adding a new option `--allow-overwrite` that wouldnt check for the charts existence on POST /api/charts ?

[2017-10-11 07:05] mahnkong commented on #3
That idea sound also good to me.

[2017-10-11 13:51] 1337andre opened #8 "customizable S3 endpoint"
Hi,

i'd like to use chartmuseum with my own S3 Storage Backend like mini.io.

Would it be possible to make S3 endpoint customizable?

with ruby lib fog-aws this possible: https://github.com/minio/cookbook/blob/master/docs/fog-aws-for-ruby-with-minio.md#3-example

Could it possible that, the aws lib you use already supports custom endpoints? https://github.com/aws/aws-sdk-go/blob/master/example/aw

[2017-10-11 13:58] jdolitsky commented on #8
Hi, yes this feature should be fairly easy to add

[2017-10-13 13:06] jebbench opened #10 "fatal error: concurrent map read and map write"
When attempting to launch Chartmuseum we sometimes get the error `fatal error: concurrent map read and map write`.

Observed with both v0.1.0 and v0.2.0.

Running on Ubuntu 16.04 using Systemd with the below service configuration:
[code]

Log file:
[chartmuseum.log](https://github.com/chartmuseum/chartmuseum/files/1382660/chartmuseum.log)

[2017-10-13 13:41] cjauvin commented on #10
After a quick analysis (I am very new to this codebase so please bear with me), it seems to me that this concurrent call:

https://github.com/chartmuseum/chartmuseum/blob/master/pkg/chartmuseum/server.go#L226

which ultimately modify this map:

https://github.com/chartmuseum/chartmuseum/blob/master/pkg/repo/index.go#L67

which can be found in the Helm codebase:

https://github.com/kubernetes/helm/

[2017-10-13 13:51] jdolitsky commented on #10
yikes. @cjauvin thanks for checking into this, I think you're right. That's the only piece of code with parallel execution..

@jebbench thanks for opening this. may I ask how many packages you have in storage?

[2017-10-13 14:00] jdolitsky commented on #10
@jebbench also, I see at the end of the logs
`Starting ChartMuseum        {"port": 9001}`
does the service end up actually listening?

[2017-10-13 14:18] jebbench commented on #10
This is me manually restarting it; sometimes takes a couple of attempts before it runs.

Right now - 184; mostly different versions of the same chart (our CI server builds and publishes it); we do have plans for some sort of clean up script (e.g. delete anything ending -CI after 30 days) in the works.

[2017-10-13 15:00] jdolitsky commented on #10
ok. on this surface this seems to be a symptom of having a lot of packages with the same name. will dive into this soon

[2017-10-13 15:09] jdolitsky commented on #7
This feature is in v0.2.1

[2017-10-13 15:09] #7 closed

[2017-10-14 16:13] jdolitsky commented on #10
@jebbench Can you please try using the latest binary or Docker "latest" tag?

I am hoping that https://github.com/chartmuseum/chartmuseum/commit/6cc9c3fe4363f95f872c016a6003ce045e1947d2 has fixed this issue

[2017-10-14 16:29] cjauvin commented on #10
@jdolitsky I'm not 100% sure, but I suspect that appending to the `loaded` slice as you do now is not goroutine-safe either.. Could it be done with a channel instead?

[2017-10-14 16:37] jdolitsky commented on #10
Yea I think you're right. @cjauvin What would this look like with a channel?

Could we also construct the `loaded` slice with length `len(objects)`, then instead of appending, do `loaded[x] = chartVersion` ?

[2017-10-14 16:46] cjauvin commented on #10
Very interesting question.. I agree that on the surface it would appear to
be safer, but I honestly don't know, and I suspect it might not be 100%
safe either for some subtle reason.. I'm looking into it right now.

On 14 October 2017 at 12:37, Josh Dolitsky <notifications@github.com> wrote:

[2017-10-14 17:13] jdolitsky commented on #10
I think 00f7694b24191fb94373b23d45fb0cc2b6871c3f has fixed this issue

I've tried running this command with the `-race` flag:
[code]

On checkout of 6cc9c3fe4363f95f872c016a6003ce045e1947d2 I get the following error:
[code]

But running the same command on a checkout of 00f7694b24191fb94373b23d45fb0cc2b6871c3f (latest) prints no warnings.

I'm ready to close this issue once we have confirmation fr

[2017-10-14 22:18] cjauvin commented on #10
I'm not suggesting you use it, but for the sake of increasing my understanding of Go channels, I wrote this, which I think would work:

https://github.com/chartmuseum/chartmuseum/compare/master...cjauvin:channel-instead-of-slice

[2017-10-16 16:19] cjauvin opened #11 "Add Prometheus metrics"
Hi Josh,

I have another request which stems from a requirement in the business context where we'll use ChartMuseum (but would also make sense in a more general context I believe): add Prometheus metrics, using https://github.com/prometheus/client_golang.

Things it would be nice to (optionally) measure:

* Number of requests, by type
* Duration of requests
* Number of charts served
* Time it take

[2017-10-17 01:10] jdolitsky commented on #11
@cjauvin Yes, I think this would be very helpful. Please share the details of implementation

[2017-10-17 05:54] jdolitsky commented on #3
@mahnkong The `--allow-overwrite` flag has been added in v0.2.2. Thanks for your suggestion!

[2017-10-17 05:54] #3 closed

[2017-10-17 05:58] jdolitsky commented on #8
@1337andre There is now a `--storage-amazon-endpoint` flag in v0.2.2. I've tested this with a local Minio install. Please let us know if you have any issues. Thanks!

[2017-10-17 05:58] #8 closed

[2017-10-17 05:59] jdolitsky commented on #10
@jebbench The fix for this is now in v0.2.2. Please let us know if you encounter this error again. Thanks!

[2017-10-17 05:59] #10 closed

[2017-10-17 08:50] jebbench commented on #10
I've updated and restarted the service a few times and it's restarted successfully each time.

[2017-10-18 16:54] #11 closed

[2017-11-06 23:06] davidovich opened #14 "Race condition observed with high chart count"
Hi,

We have stumbled upon a problem with our CM instance where suddenly only about half of our Google Storage backed charts were being served (without any error or hint in the debug logs whatsoever). Upon inspection, we have found this to be due to a race condition in [`server.addIndexObjectsAsync`](https://github.com/kubernetes-helm/chartmuseum/blob/master/pkg/chartmuseum/server.go#L299-L320), w

[2017-11-08 14:52] #14 closed

[2017-11-15 01:06] huydinhle opened #17 "bucket is not in region error"
I can't start my chartmuseum app because of the `BucketRegionError: incorrect region, the bucket is not in 'us-west-2' region` error
[code]

If I would have done the same thing with `aws s3 ls` in the same container it works
[code]

Any idea what causes this ?

[2017-11-16 00:35] huydinhle commented on #17
I set up my s3 bucket wrong, sorry about that

[2017-11-16 00:35] #17 closed

[2017-11-16 16:18] davidovich opened #18 "Chartmuseum cannot hold a constant response time when latency to storage is high"
This was discussed in the #chartmuseum slack channel.

On Google Cloud Storage, we are running chartmuseum with around 60 charts and their versions. This makes about 800 versioned charts. The index update is causing latency problems in presence of new uploads. The server cannot keep up, and response times keep getting higher and higher, caused by a threading "bubble effect". This happens when the

[2017-11-20 20:06] #18 closed

[2017-11-22 01:12] jdolitsky opened #21 "proposal: Add X-Request-Id header"
With recent changes (#19) each request is assigned a numeric "RequestId" in order to easily group log lines tied to a request.

My suggestion is to take this one step further, and send the RequestId to the client in the`X-Request-Id` HTTP header for further debugging, correlating client-side requests to associated log lines.

I'd also like to propose using a UUID instead of integer to prevent coll

[2017-11-22 14:37] davidovich commented on #21
I think this is a good idea. I was thinking about this and thought that we should use both approaches, as they serve different use cases. One is for local debugging (the numerical id) and the other is for remote debugging server to client interactions.

The existing numerical implementation holds the Request ID name, but it should change names, so that this proposal can take its place.

With this

[2017-11-24 15:49] mahnkong opened #22 "Bug: Deleting a chart having a suffix in its version via the API causes no removal from index"
Hello,

We observed that deleting a chart having a suffix in its version via the API causes no removal from the index. The deletion from the file system works:

**POST, GET, DELETE for chart having a version without suffix:**
[code]
**POST, GET, DELETE for chart having a version with suffix:**
[code]

Best regards,
Andreas

[2017-11-24 15:53] jdolitsky commented on #22
Thanks for detailed report, will look into this shortly

[2017-11-24 16:02] jdolitsky commented on #22
I believe the bug is in how the chart version is determined here:
https://github.com/kubernetes-helm/chartmuseum/blob/master/pkg/repo/chart.go#L76

It's splitting by "-", then taking last item of the slice, so version in this case would be "SNAPSHOT" vs. "1.0.4-SNAPSHOT". I'm interested to know if this bug exists if you try using version wihtout an additonal hyphen (1.0.4SNAPSHOT)

[2017-11-25 07:27] #22 closed

[2017-11-25 07:33] jdolitsky commented on #22
@mahnkong This should fixed in the latest build. Please let us know if you have any issues. Thanks!

[2017-11-28 15:44] davidovich commented on #21
fixed by #23

[2017-11-28 15:44] #21 closed

[2017-12-01 21:08] philliphoff opened #24 "Proposal: Support for Azure Blob Storage"
I'd like to see Azure Blob Storage as an option for the storage backend.

[2017-12-05 11:55] stroebitzer opened #26 "Missing hint in docu for configuration via environment variables"
Due to eg Ansible has no native support for passing command parameters into the docker container I have to use a config file or environment variables (which is easily done in Ansible). After digging into the entrypoint I saw you are fine with environment variables.

A small hint in the docu would be awesome.

[2017-12-06 03:46] jdolitsky commented on #26
Yes, good call. Thanks for pointing this out.

[2017-12-06 14:48] fleischer932 opened #27 "Auto-generate index.yaml"
It would be nice if, after uploading a new or updated chart, the index.yaml-file is automatically generated for the repository, so users don't have to generate and upload it manually.

[2017-12-06 15:17] #27 closed

[2017-12-06 15:19] fleischer932 commented on #27
Closed the issue, since I noticed that the info is updated, and I just had to perform `helm repo update`.

[2017-12-12 16:21] KrustyHack opened #28 "Missing an "http auth free" health endpoint"
Hi,

It would be nice to have a health endpoint at path / which is exposed without http auth even if we use http auth.

For now I can't use my chartmuseum Helm charts with http auth in my Kubernetes cluster with a GCE Ingress because healthcheck fail indefinitely. :/

[code]

[2017-12-12 17:36] bonhamjp commented on #28
Makes sense to me. I'd be willing to add this, if the maintainers think this is a good idea?

[2017-12-13 16:14] jdolitsky commented on #28
@bonhamjp go for it! @KrustyHack this is definitely needed, thanks for opening

[2017-12-15 21:55] #28 closed

[2017-12-18 18:20] #26 closed

[2018-01-10 22:36] qrevel commented on #2
@jdolitsky did you come up with the least privileged IAM policy we need to use for chartmuseum?

[2018-01-10 23:32] jdolitsky commented on #2
@qrevel No, unfortunately. Does the above work for you?

[2018-01-10 23:33] jdolitsky commented on #2
It also depends on if you will be using the /api routes or not (write access)

[2018-01-11 01:21] qrevel commented on #2
I gave full access (`s3:*`) to my helm chart bucket but I'm searching for the least privileged policy.

[2018-01-11 12:11] qrevel opened #31 "Add restricted IAM Policy for S3 Storage in documentation"
We already talked about this in #2.
The goal is to get a restricted IAM Policy for S3 Storage.

[2018-01-11 12:12] qrevel commented on #31
/label enhancement

[2018-01-11 14:53] #31 closed

[2018-01-29 02:42] hiscal2015 opened #33 "Question for --allow-overwrite"
Hi,

I'm not sure my question is regarding chart repo or chartmuseum, is it allow to store multiple versions of a chart? For example, I have a chart named nginx, I uploaded version 1.0.0 and 1.0.1, should I see both versions by helm search? Actually, I used --allow-overwrite parameter for chartmuseum, I can see chart 1.0.0.tgz and 1.0.1.tgz were both in the chart storage, but can only see version

[2018-01-29 02:59] jdolitsky commented on #33
@hiscal2015 this is a question about Helm, but more than happy to help out.

You can certainly store multiple versions of a chart in a repository. In order to see all versions of a chart, use the `-l` flag when searching, for example `helm search stable/mysql -l`. If you look at index.yaml you should see both versions.

ChartMuseum's `--allow-overwrite` flag will allow you to re-upload a chart of

[2018-01-29 02:59] #33 closed

[2018-01-29 03:05] hiscal2015 commented on #33
@jdolitsky Thank you very much, it helps a lot!

[2018-01-29 10:06] rawlingsj opened #34 "Provide a flag that allows anonymous read on GET operations when basic auth is used"
It would be handy if there was a flag we could use to allow folks to GET charts anonymously when basic auth is used.  This means that basic auth would only be required to PUT, PATCH and DELETE charts.

I have a PR on its way that does this but I figured it's best to raise an issue to discuss it and track any other proposed solutions.

[2018-02-03 02:58] #34 closed

[2018-02-06 01:59] jdolitsky commented on #31
@qrevel quick question about this (several weeks later) - does the following statement
[code]
need to apply to "*"? Have you tried just "arn:aws:s3:::my-s3-bucket" ?

[2018-02-06 04:58] qrevel commented on #31
I remember having a 403 when using a resource on `s3:ListBucket` so I tested everything again and here was my mistake. I used `arn:aws:s3:::my-s3-bucket/*` instead of `arn:aws:s3:::my-s3-bucket` so the ListBucket operation didn't apply on the bucket itself.

I created a PR to fix it.

[2018-02-07 00:15] jdolitsky commented on #31
@qrevel thank you for checking that!

[2018-02-08 15:08] hoesler opened #38 "s3 storage: add support for server side encryption"
It would be nice if chartmuseum could support sse with s3.

[2018-02-12 11:27] iMartyn opened #42 "Chart already exists should not be a 500"
500 indicates something went wrong at the server side.

I suggest chartmuseum should return a 403 Forbidden (as it's not overwriting) or vaguely possibly 400 Bad Request (as you should not try to overwrite a chart).

[2018-02-12 13:35] jdolitsky commented on #38
Closed fixed by #39

[2018-02-12 13:35] #38 closed

[2018-02-12 13:37] jdolitsky commented on #42
Yes, thanks. Good call. There are several errors that have defaulted to use 500

[2018-02-12 14:21] davidovich commented on #42
The responses are correct when using `mutlipart/form-data`. As this was described as wanted to be deprecated, we never changed the error code handling on the binary data code path.

`multipart/form-data` code handles correctly duplicates and reports them as 409 conflict:
https://github.com/kubernetes-helm/chartmuseum/blob/89c1a7672dd0ab044f65c06873c029b647fb5935/pkg/chartmuseum/handlers.go#L149

B

[2018-02-12 16:23] #42 closed

[2018-02-14 21:01] #24 closed

[2018-02-16 09:21] descampsk opened #45 "Not supporting AWS profile and role"
Hello,

Thanks for your work !

I'm trying to connect Chartmuseum to my AWS S3 bucket with a specific AWS role but I get a non authorized error.

I used this following command:

[code]

And I obtain this error:

[code]

My file ~/.aws/credentials looks like this:

[code]

And my file ~/.aws/config looks like this:

[code]
The command `aws s3 ls --profile=sandbox` works and give me the bucket with

[2018-02-16 16:51] jdolitsky commented on #45
@descampsk can you please try running `export AWS_PROFILE=sandbox` and see if that solves your issue?

[2018-02-17 10:51] liamawhite opened #46 "Change behaviour for root API route."
Currently,`/` returns a 404. We are interested in changing this behaviour to return a redirect to `/index.yaml`.

During a discussion on slack with @jdolitsky. He suggested that maybe this route could return the version of chart museum that is running, but thinking through this later I thought that this is a potential security risk. Generally, you should not tell users the version of an applicatio

[2018-02-19 09:17] descampsk commented on #45
I try what you said and I got a new error :

[code]

[2018-02-19 12:11] descampsk commented on #45
I found a solution.

In the aws bucket in the "Bay Strategy" (Sorry don't know the real traduction in english), i used this :

[code]

Have a good day.

[2018-02-19 12:11] #45 closed

[2018-02-19 17:28] jdolitsky opened #47 "Azure backend reloads chart packages despite no changes"
In an Azure blob storage container with a single, unmodified chart (chartmuseum-0.3.3.tgz), index.yaml is regenerated every time it is requested, despite no changes in storage.

Example output:
[code]

[2018-02-19 21:01] jdolitsky commented on #46
@liamawhite was chatting with @davidovich, it may not be in best interest to support the redirect to /index.yaml in case we want to change the functionality of this route in the future.

Instead, how do you feel about something like
[code]
?

[2018-02-19 21:23] liamawhite commented on #46
Sounds good to me!

[2018-02-19 22:12] #47 closed

[2018-02-20 19:54] #46 closed

[2018-02-22 11:55] dkirrane opened #52 "Question: vSphere Cloud Provider storage"
Hi,

The documentation mentions Google Cloud Storage, Amazon S3, and Microsoft Azure Blob Storage.

Am I correct in assuming VCP storage would work as well?

[2018-02-22 17:02] jdolitsky commented on #52
@dkirrane I'm not too familiar with it. Is VCP block level storage or file level storage? Assuming it is file level, you can use the ChartMuseum `--storage="local"` option.

[2018-02-22 19:15] dkirrane commented on #52
Thanks I'll try local.
What would the command be for the Docker image?
[code]

[2018-02-23 14:58] jdolitsky commented on #52
@dkirrane, yes very close, the container dir for the volume must match
STORAGE_LOCAL_ROOTDIR, and should be a Linux path.

So something like

docker run --rm -it \
  -p 8080:8080 \
  -e PORT=8080 \
  -e DEBUG=1 \
  -e STORAGE="local" \
  -e STORAGE_LOCAL_ROOTDIR="/charts" \
  -v C:/HelmCharts:/charts \
  chartmuseum/chartmuseum:latest

On Thu, Feb 22, 2018 at 11:16 AM dkirrane <notifications@githu

[2018-02-26 17:25] #52 closed

[2018-03-01 11:40] hho opened #55 "Customizable URL for the info page"
I'm using chartmuseum in a Docker container behind a reverse proxy.

I've set the `--chart-url` option, so the generated URLs in the `index.yaml` are correct.

However, the info page (when accessing the domain with a browser) shows the client IP instead:

It would be nice to have the URL in there also customizable.

Thanks!

[2018-03-01 15:03] jdolitsky commented on #55
@hho We are using the [github.com/gin-contrib/location](https://github.com/gin-contrib/location) lib to determine this

Could you try setting the `X-Host` header on your requests passed to upstreams?

I'm seeing this in the code: https://github.com/gin-contrib/location/blob/911ef8299476b8a48e11ec0c26f2a0810345b690/config.go#L64

[2018-03-01 16:13] hho commented on #55
That changed nothing. Again, the client's IP is shown.

My Go skills are nonexistent, but I think I figured out, what happens:

We're not even getting to [Line 64](https://github.com/gin-contrib/location/blob/911ef8299476b8a48e11ec0c26f2a0810345b690/config.go#L64), because the header is already set and it returns [a line earlier](https://github.com/gin-contrib/location/blob/911ef8299476b8a48e11ec0

[2018-03-01 16:13] #55 closed

[2018-03-02 05:43] jdolitsky opened #56 "New multi-tenancy features should be opt-in"
A flag should be added to the CLI that explicitly enables experimental new features and routing discussed in #53.

Unless this flag is specified, ChartMuseum will function as usual.

[2018-03-05 17:35] sjthespian opened #58 "Chartmuseum apparently not closing files when scanning repo"
It looks as if chartmuseum may not be closing files when it scans the repo. We are looking at converting a large repo (nearly 16000 packages) to chartmuseum and are getting the following error on the initial scan:
```open helmrepo/xxx.tgz: too many open files in system```

I haven't dug through the code yet, but my assumption is that when it first scans the repo it open each file and doesn't close

[2018-03-05 17:38] jdolitsky commented on #58
@sjthespian thank you for opening this.

You are correct that it parallelizes the scan. We may want to add a configurable limit for this.

@davidovich any comments to add here?

[2018-03-05 19:56] sjthespian commented on #58
@jdolitsky / @davidovich  It looks like it is even more of an issue if I run chartmuseum in a container. Even with ulimit set to increase nofiles, it fails with a thread limit trying to scan our repo. It looks like it definitely needs some command line options for parallelism.
[code]

[2018-03-05 21:32] sjthespian commented on #58
If I'm looking at the correct code, I'm assuming you would have to add a counter to limit the parallel processes around https://github.com/kubernetes-helm/chartmuseum/blob/16021add17ffdc61824832435ba4a61d7fedab6a/pkg/chartmuseum/cache.go#L218 ?

[2018-03-05 21:53] jdolitsky commented on #58
@sjthespian that is correct

[2018-03-06 17:19] sjthespian commented on #58
I'm still a go novice, but would the following do the trick? (assuming indexLimit is a command line argument value with a reasonable default):
[code]

[2018-03-06 17:21] jdolitsky commented on #58
@sjthespian ping me on k8s slack and lets work through this

[2018-03-06 21:03] sjthespian commented on #58
I have a working piece of code, I'll fork the repo and send a PR once I figure out what to call the command line argument and get that working. Here's the diff using a hard-coded limit of 250:
[code]

[2018-03-06 21:52] itaysk opened #59 "More robust authentication"
Currently the Helm repo standard is to use anonymous HTTP or HTTP Basic authentication. This is a proposal to support a more robust authentication scheme with Chart Museum. Hopefully it will be embraced by Helm. If it won't, it still shouldn't affect Chart Museum's compliance with the Helm repo standard since this is an additional functionality on top of the standard functionality.

OAuth/JWT clar

[2018-03-06 22:04] jdolitsky commented on #59
@itaysk thanks for the detailed set of requirements!

@liamawhite @SlickNik do you have anything to add here?

[2018-03-06 22:31] jdolitsky commented on #59
@technosophos @bacongobbler @mattfarina @jzelinskie

Lets align this with the Helm 3 repo proposals as they relate to auth

[2018-03-06 22:46] jdolitsky commented on #58
Fixed by #60

[2018-03-06 22:47] jdolitsky commented on #58
Fixed by #60

[2018-03-06 22:47] #58 closed

[2018-03-06 22:57] bacongobbler commented on #59
Just adding a fly-by comment, but assuming that this is adding additional functionality and not removing (or amending) the existing client/repo auth model for Helm, this could be tackled in core during the Helm 2.0 timeline. It doesn't have to be punted down the line to Helm 3. :)

[2018-03-06 23:01] jdolitsky commented on #59
Like where your heads at!

[2018-03-08 08:47] SlickNik commented on #59
This is all great stuff -- thanks for kicking off the discussion @itaysk and @jdolitsky! I agree that following a similar model to docker/distribution makes sense in this regard. In addition to this, one thing that would be good to flesh out is the scheme and grammar for supported resource scopes.

There is some good documentation about the scopes supported by the docker registry at https://github

[2018-03-08 11:31] nagarjunac opened #62 "How to add chartmuseum as an App Repository in Kubeapps"
Hi,
I am very amazed with the chartmuseum. May I know if there is a way to add chartmuseum as an App Repository in Kubeapps. This can help me manage and deploy my helm releases  in a very nice way.

[2018-03-08 13:41] jdolitsky commented on #62
@nagarjunac thanks!

I assume you are talking about running your own Monocular instance? If so you can check out the configuration instructions here: https://github.com/kubernetes-helm/monocular/blob/master/deployment/monocular/README.md#configuring-chart-repositories

cc @prydonius

[2018-03-08 13:51] prydonius commented on #62
thanks @jdolitsky. @nagarjunac if you're talking about the new Kubeapps dashboard, you should be able to add your ChartMuseum repo as any other Helm Chart repository in the configuration page (see https://github.com/kubeapps/kubeapps/blob/master/docs/dashboard.md#add-more-chart-repositories). It's the same name/URL you'd enter with `helm repo add`.

[2018-03-08 13:54] nagarjunac commented on #62
@prydonius I think I have tried it the same way, but my charts were not visible under charts page. I will try one more time and let you know if it works.

[2018-03-08 13:54] nagarjunac commented on #62
thanks @jdolitsky .

[2018-03-08 19:41] jdolitsky opened #63 "Single-tenant server should be moved to its own subpackage"
Functionality in `cache.go`, `routes.go`, and `handlers.go` should be moved into a new subpackage so that additions of multi-tenancy features will not affect the current system.

Probably done by making `Server` an interface with a `.Listen()` method that is implemented in both the singletenant and multitenant subpackages.

cc @liamawhite

[2018-03-08 20:21] jdolitsky opened #64 "Add gin authentication middleware with support for basic auth and oauth2"
To enable #59. Basic auth code should move here too.

Configurable modes:
  - Off
  - Basic Auth
  - Basic Auth (GET protected)
  - OAuth2

[2018-03-08 20:26] jdolitsky opened #65 "Separate API packages"
The 3 categories under API in the readme
- Helm Chart Repository
- Chart Manipulation
- Server Info

should each have their own subpackage/file

[2018-03-08 21:20] jdolitsky commented on #62
closing since question for the KubeApps team

[2018-03-08 21:20] #62 closed

[2018-03-09 09:33] prydonius commented on #62
@nagarjunac did this work for you in the end?

[2018-03-09 19:51] christopherhein opened #66 "Root url not using authentication when API is"
It seems like the root `/` isn't using authentication when the `/api` requires it. Is this expected?

I see there is work going on in #59 and #64 and I'm guessing this is vestigial from #29 when the root was the healthcheck.

Is there a reason we leave the `/` unauthenticated?

[2018-03-09 19:58] jdolitsky commented on #66
@christopherhein no reason really. I suppose that should have the same access control as /index.yaml

[2018-03-09 19:59] christopherhein commented on #66
Okay, thank you! @jdolitsky

[2018-03-09 20:26] #66 closed

[2018-03-09 20:43] jdolitsky commented on #66
@christopherhein this fix is now in latest binary and docker image

[2018-03-09 22:17] christopherhein commented on #66
Wow, thank you for the fast action @jdolitsky !

[2018-03-09 22:21] christopherhein commented on #66
In case you didn't see, I'm adding a module to the [AWS Workshop for Kubernetes](https://github.com/aws-samples/aws-workshop-for-kubernetes) that walks someone through deploying `chartmuseum` using `helm` and sets up basic auth w/ an ELB to front it. If you have some time I'd love to get your review as well - https://github.com/aws-samples/aws-workshop-for-kubernetes/pull/395

Thanks again!

[2018-03-10 00:22] jdolitsky opened #68 "Upgrade to Helm 2.8.2"
https://github.com/kubernetes/helm/releases/tag/v2.8.2

[2018-03-10 00:31] #68 closed

[2018-03-10 00:59] jdolitsky commented on #66
@christopherhein thats awesome! I'll take a look

I've cut a 0.4.2 that contains this fix, and also this update to the Helm chart is ready to be merged:
https://github.com/kubernetes/charts/pull/4091

[2018-03-11 20:10] #63 closed

[2018-03-11 23:48] jdolitsky opened #70 "Multitenant server should serve multiple Helm Chart Repositories (readonly)"
Continuing conversation started in #53 ...

When providing the `--multitenant` flag, ChartMuseum should act as multiple Helm Chart Repositories.

This issue covers implementing the following routes:

- `GET /r/<org>/<repo>/index.yaml` - retrieved when you run `helm repo add chartmuseum http://localhost:8080/<org>/<repo>`
- `GET /r/<org>/<repo>/charts/mychart-0.1.0.tgz` - retrieved when you run `he

[2018-03-12 14:30] jdolitsky opened #71 "Multitenancy"
One ChartMuseum instance should be able to optionally provide multiple Helm repos

[2018-03-12 16:49] jdolitsky opened #72 "Option to use Redis in place of in-memory cache"
In support of multitenancy, structs that used to generate index.yaml should be able to be stored in Redis to tackle scale

[2018-03-12 19:05] jdolitsky opened #73 "Multitenant server should use cache"
Multitenant server is currently generating index.yaml upon every request, should be switched to use the cache

[2018-03-12 21:45] jdolitsky opened #75 "Separate web handlers from processing"
For example `getIndexFileRequestHandler()` would delegate to something like `getIndexFile(orgName, repoName, prefix)`, and this method would contain only the objects processing.

This will allow for better unit testing in the long run, and cleanly isolate the details of the web framework.

[2018-03-13 21:43] #70 closed

[2018-03-14 13:37] davidovich opened #76 "make repo subdirectroy of multitenancy optional"
Right now, the current multitenancy design mandates a structure in this style: `org1/repoa`, `org2/repoa`. While I still think two levels are a good idea in a centralized hosting scenario, I also think that it might be overkill for a corporate scenario where only one chartmuseum is present and one level (the org level) would be used for different teams. It appears that the file structure of the re

[2018-03-14 14:32] jdolitsky commented on #76
@davidovich that sounds reasonable.

Just to clarify, you are looking for multitenany routes such as
- `/repo1/index.yaml`
- `/repo2/index.yaml`
- `/repo3/index.yaml`

?

[2018-03-14 14:36] davidovich commented on #73
Currently, the state of the storage is the one true reference for the state of repository. I just wanted to add that adding a cache managed through the museum will break this and transfer the 'truth' responsability to the cache layer.

I can see a problem where the cache is not reconciled between multiple pod instances, and I am not sure how to resolve this concern.

This also means that operation

[2018-03-14 15:13] jdolitsky commented on #73
This issue may be misleading. The only aim with this is to get mutlitenant server up-to-par with how singletenant server is doing things.

I'm planning to still treat storage as source of truth. The cache is simply a copy of the most recent `ListObjects` result, so that is can be compared to the result of `ListObjects` for an incoming request, to prevent loading every single .tgz on every time. Th

[2018-03-14 20:24] jdolitsky commented on #76
@davidovich what if... instead of a `--multitenancy` flag, we add something such as `--depth=<int>`? And the routing would change based on that param?

`--depth=0` (default) would give you singletenant as it works today:
[code]

`--depth=1` would give you what you're looking for:
[code]

`--depth=2` would give you what multitenant is today:
[code]

And people could even decide to do something with

[2018-03-15 16:13] davidovich commented on #76
Yes I think this would provide the wanted value. Could I suggest adding `--tenant-depth` instead of changing `--multitenancy` ?

[2018-03-15 16:20] jdolitsky commented on #76
Once we're ready to "release" multitenancy, I'd like to just have the `--depth` or `--tenant-depth` flag, which defaults to 0. If things are done correctly the user should see no change, and there will be no multitenancy unless explicitly specified with the flag.

For now, until everything is well tested, the new flag would take no effect unless `--multitenancy` is also used.

I very much intend t

[2018-03-15 18:37] jzelinskie commented on #59
Let's not forget OCI: the distribution protocol for OCI is in a proposal state. I haven't gone over it enough to know what it carves out around auth, but the closer we can map to that, the better.

[2018-03-15 18:38] jdolitsky commented on #59
@jzelinskie yes, please link that here

[2018-03-15 18:41] jzelinskie commented on #59
Here's the proposal: https://github.com/opencontainers/tob/pull/35

[2018-03-16 18:53] #75 closed

[2018-03-16 18:53] #76 closed

[2018-03-16 19:19] jdolitsky opened #78 "Enable CRUD API (Chart Manipulation routes) in multitenant server"
We could likely get away with using the same routes:
- `POST /api/charts` - upload a new chart version
- `POST /api/prov` - upload a new provenance file
- `DELETE /api/charts/<name>/<version>` - delete a chart version
- `GET /api/charts` - list all charts
- `GET /api/charts/<name>` - list all versions of a chart
- `GET /api/charts/<name>/<version>` - describe a chart version

We just need a way to

[2018-03-16 20:35] davidovich commented on #78
I have some ideas, but will have to come back on this monday.

[2018-03-16 20:40] jdolitsky commented on #78
@jzelinskie also curious about your take on uploads given experience w app registry etc

[2018-03-19 13:09] jgiles opened #79 "TLS Client Cert Authentication"
This is related to the excellent proposal in https://github.com/kubernetes-helm/chartmuseum/issues/59, but should be solvable immediately rather than as a long-term effort.

The Helm client supports TLS client certificate authentication:
https://github.com/kubernetes/helm/issues/1038#issuecomment-297043419

It would be great if chartmuseum supported a `--tls-ca-cert` which would perform client cer

[2018-03-19 16:48] KrustyHack opened #80 "Rename port "chartmuseum" to "http" for Istio compatibility"
Ay,

Is it possible to rename port "chartmuseum" to "http" (or even "http-chartmuseum") in chartmuseum service to allow compatibility with istio ingress ?

Regards,

[2018-03-19 16:52] jdolitsky commented on #80
Hi, are you running the chartmuseum Helm chart? If I understand correctly, I think we just need to update this line: https://github.com/kubernetes/charts/blob/master/incubator/chartmuseum/templates/service.yaml#L23

[2018-03-20 08:35] KrustyHack commented on #80
Ay,

Yes, that's right :).

Regards,

[2018-03-20 17:21] davidovich opened #81 "Use dep as package manager"
The go community is moving to [dep ](https://github.com/golang/dep) as the official packaging solution.

glide is in [maintenance mode only](https://github.com/Masterminds/glide#golang-dep).

[2018-03-20 18:11] jdolitsky opened #82 "Single tenant server, --multitenant flag should be removed"
Once multitenant server is ready for prime time, it should be made the only server package. Singletenancy is supported in the multitenancy via `--depth=0`.

[2018-03-21 00:39] jdolitsky commented on #79
@jgiles hi thanks for opening, sorry for delay. will look into asap.

[2018-03-21 00:43] jdolitsky opened #83 "Ability to supply custom webhook for post-upload etc."
cc @verchol @itaysk @olegs-codefresh

[2018-03-21 07:04] SlickNik commented on #81
@jdolitsky @davidovich Any objections to me taking a look into this one?

[2018-03-21 11:08] davidovich commented on #81
Sure! Thank you for offering!
Le mer. 21 mars 2018 à 03:04, Nikhil Manchanda <notifications@github.com> a
écrit :

[2018-03-21 14:35] jdolitsky commented on #81
go for it @SlickNik !

[2018-03-21 16:52] jdolitsky commented on #78
After talking with a few people, here are the proposed routes:
- `POST /api/<repo>/charts` - upload a new chart version
- `POST /api/<repo>/prov` - upload a new provenance file
- `DELETE /api/<repo>/charts/<name>/<version>` - delete a chart version (and corresponding provenance file)
- `GET /api/<repo>/charts` - list all charts
- `GET /api/<repo>/charts/<name>` - list all versions of a chart
- `GE

[2018-03-21 17:09] davidovich commented on #78
This may be a good time to remove that and rely only the form data.

[2018-03-21 19:34] jdolitsky commented on #78
Although I agree that we should deprecate it, I think now is not the time. I'd like to make a release with multitenancy support such as 0.5.0, without breaking backwards compatibility. Should be removed for 1.0.0 though.

[2018-03-22 07:56] olegs-codefresh commented on #83
@jdolitsky Thank for bringing it.
To start with, here are some references that I found useful:
* https://webhooks.pbworks.com/w/page/13385124/FrontPage
* https://developer.github.com/webhooks/
* http://progrium.com/blog/2007/05/03/web-hooks-to-revolutionize-the-web/
* http://timothyfitz.com/2009/02/09/what-webhooks-are-and-why-you-should-care/

Based on this, will create some spec for Charmuseum.

[2018-03-22 13:30] #81 closed

[2018-03-23 19:48] jdolitsky commented on #80
@KrustyHack this is now fixed in incubator/chartmuseum 0.4.5. Thanks!

[2018-03-23 19:48] #80 closed

[2018-03-23 23:29] jdolitsky opened #86 "Should be able to specify different basic auth username/pass per multitenant repo"
@goruha @itaysk we have chatted about this.
This will likely need to be fixed by introducing a config file and/or config database

[2018-03-25 18:52] #73 closed

[2018-03-26 11:08] jonasdkhansen opened #87 "Ingress and tls errors while installing new chart"
I try to install the latest version of chartmuseum, but getting errors about the ingress.

Helm version: v2.8.1
Host: GCP
Kubernetes: v1.9.3-gke.0

Command:
`helm install --name chartmuseum -f custom.yaml incubator/chartmuseum`

Custom.yaml:
[code]

error:
`Error: release chartmuseum failed: Ingress in version "v1beta1" cannot be handled as a Ingress: v1beta1.Ingress: Spec: v1beta1.IngressSpec: TL

[2018-03-26 17:01] jzelinskie commented on #78
@jdolitsky Uploading for Helm Charts can be very much so simplified down to one single multipart upload via HTTP POST, since they are never particular large.

The complexity for App Registry is around supporting various formats which could potentially bundle container images with manifests like a Helm chart.

OT: I do think that the prov files are better stored in some centralized metadata storage

[2018-03-26 17:02] jdolitsky commented on #78
@jzelinskie awesome, ty for the input

[2018-03-27 15:10] liamawhite opened #88 "Feature Request: API for retrieving individual files from a chart"
`GET /api/charts/mychart/0.1.0/files/<file>`

Required for serving up information relevant to a user installing a chart via a UI.

[2018-03-27 15:10] liamawhite opened #89 "Feature Request: Mirror mode that runs against a live repo"
Could be enabled with a flag: `--mirror=<repo_url>`.

`<repo_url>`, would be a publically accessible storage bucket containing charts or an existing helm-repository.

This mode should be read-only and is only useful for automatically generating and caching an `index.yaml` and serving up files detailed in #88.

[2018-03-28 11:29] jonasdkhansen commented on #87
Found the problem, which was the secretName in tls, missing a - in front, so it should be:
[code]

[2018-03-28 11:29] #87 closed

[2018-04-02 10:33] goruha opened #90 "Should support different auth for api and server"
Use case

1. There is private charts repo backed by chartmuseum.
2. There is ci\cd pipeline that push charts to that chartmuseum
3. There is developers show can install charts from it

Expect:
1. Have 2 different authentifications: one for `push` endpoints and one for `pull` endpoints.

Exists:
1. Single authentication for all api endpoints.

Why Important:
To restrict access between group of user

[2018-04-02 13:03] goruha opened #91 "Performance of indexer on startup"
## Exists:
1. Chartmuseum backed by s3 bucket
2. There is ~500 charts in s3 bucket

## Operation:
Update [chartmuseum release](https://github.com/kubernetes/charts/tree/master/incubator/chartmuseum)

## Exists:
Startup takes too long

## Expect:
Faster startup

## Possible solutions:
1. Use batch download to get `ObjectsList()` instead of `GetObject()`
2. Use lazy indexing (cache regeneration) on

[2018-04-02 14:55] jdolitsky commented on #91
@goruha thanks for opening, this would become even bigger issue with multitenancy. So much so, that pre-caching is disabled in multitenancy mode

[2018-04-02 14:57] jdolitsky commented on #90
@goruha please discuss your needs regarding this on #59

The plan right now is to accept JWT tokens, which have format similar to docker registry:
[code]

[2018-04-03 20:37] #65 closed

[2018-04-03 20:37] #78 closed

[2018-04-03 20:37] #82 closed

[2018-04-03 20:56] davidovich opened #93 "Feature request: Allow different stores for different tenants"
The current multitenancy implementation only allows one store per charmuseum instance.

We should allow multiple stores for multiple tenants.

This brings another use for a central configuration file, as adding this through the command line will become unwieldy.

[2018-04-03 21:00] davidovich opened #94 "Feature request: Add a mechanism to specify configuration"
The current implementation uses command line switches to control the configuration of the chartmuseum. This will become very hard to maintain and or implement if we want to support per tenant configurations.

We could add a configuration file to allow varying options for the chartmuseum startup.

[2018-04-03 21:01] davidovich commented on #86
See #94

[2018-04-03 21:02] davidovich commented on #93
see #94

[2018-04-03 21:05] jdolitsky commented on #94
Yes, we need this. I think that you should be able to use a simple .conf file, or a sql database for advanced use cases.

cc @itaysk

[2018-04-04 14:11] olegs-codefresh commented on #83
### "Webhooks provide a way for notifications to be delivered via Http request to an external web server whenever certain actions occur" - Github

## Suggestion

This is a proposal for a webhook implementation.
It includes some basic overview on a webhook (information and requirements) and more specific details about how Chartmuseum should implement it (which API expose and how to register)

### G

[2018-04-04 21:52] jdolitsky opened #96 "Bug: ERROR Object does not exist."
Raised up #chartmuseum slack channel
[code]

[2018-04-04 22:13] jdolitsky commented on #96
Seen with Azure/Microsoft backend

[2018-04-04 22:39] #96 closed

[2018-04-08 23:41] jdolitsky opened #100 "Switch to use cobra for CLI"
Discussed in PR #99

[2018-04-09 18:15] koalalorenzo opened #101 "Google Cloud Storage - No documentation for non-gke authentication"
I have noticed on the helm chart for chartmuseum (`stable/chartmuseum`) that there is no way to pass the service account private file (`.json` file generated when creating the Storage Account created on Google Cloud.

What I am trying to do is to deploy chartmuseum, using the helm chart, and connecting it to a bucket on GCS, in a cluster that is not living on GKE. **The documentation** for both th

[2018-04-09 21:55] hayderimran7 commented on #62
adding the chartmuseum repository from UI fails for me :/ [monocular-fail](https://i.imgur.com/2NjVzCQ.png)

[2018-04-09 22:00] jdolitsky commented on #62
@hayderimran7 what do you get with

[code]
?

[2018-04-09 22:02] hayderimran7 commented on #62
@jdolitsky
[code]

[2018-04-09 22:06] jdolitsky commented on #62
@hayderimran7 that repo looks healthy, I would open/check for an issue in the monocular queue: https://github.com/kubernetes-helm/monocular/issues

Maybe javascript debug console will tell you more

[2018-04-09 22:07] hayderimran7 commented on #62
@jdolitsky thanks for the help - yep looks like an angularJS error to me [monocular-error](https://i.imgur.com/GiefJ7H.png)

[2018-04-10 10:34] ilyasotkov commented on #101
Also must keep in mind that in GKE the default access is read-only, so writing charts will fail with `{"error":"googleapi: Error 403: Insufficient Permission, insufficientPermissions"}` unless you add
[code]
to scopes / oauth_scopes when creating your GKE cluster.

[2018-04-10 11:48] prydonius commented on #62
@hayderimran7 can you open an issue in the Monocular repo @jdolitsky linked to. It would also be helpful if you could screenshot the Network tab of the chrome inspection pane to see the response from the failing request. Cheers!

[2018-04-10 13:42] #94 closed

[2018-04-10 16:30] koalalorenzo commented on #101
Yes, my service account is already properly configured and it works if I use the `json` file in other setup :)

[2018-04-11 09:08] ipedrazas commented on #101
I have a fix for this and I'm happy to send a PR but I'd like to see if everybody is happy with my approach:

- Create a new flag that indicates if you need `gcp-json` auth
- Create a secret that contains the json key (there's an if `gcp-json` at the top, so the secret will only be created if `gcp-json` is `true`)
- Add a new envvar with the `GOOGLE_APPLICATION_CREDENTIALS`
- Add a volume and a vo

[2018-04-11 10:25] ipedrazas commented on #101
I've just submitted a PR to add this functionality to the chartmuseum chart.

https://github.com/kubernetes/charts/pull/4904

[2018-04-11 16:05] koalalorenzo commented on #101
Ideally it should work :) (the code looks kinda-good, but I need to test it)
I am going to test this out in few hours.

It would be nice to specify an secret that is already present. So Tiller won't see the json file.

[2018-04-11 18:30] samifruit514 opened #102 "Local storage: multitenancy automatic org or repo folder creation"
I think folders should be created automatically when we POST a chart if the folder (org/repo) does not exists. At least maybe we should be able to POST new repos/orgs and also DELETE them.

Let me know if you want me to do a PR for this.

[2018-04-11 18:41] jdolitsky commented on #102
Hi @samifruit514. Are you using local storage? I believe this works already with cloud storage

[2018-04-11 18:43] davidovich commented on #102
In fact, I will be needing this functionality very soon.

There is a security concern however. How do we protect a repo from abuse ? An attacker could POST a spam of folders, and even theoretically (out of scope for this issue) hide content in the .tgz archive.

@jdolitsky Do you have any hidden insights that might help answer this ?

[2018-04-11 18:45] jdolitsky commented on #102
Well, once repos are protected by OAuth (in progress), the request is blocked before any storage operation occurs. But maybe you mean an authorized user could also be an attacker :)

[2018-04-11 18:53] davidovich commented on #102
No, I think that is enough (OAuth) for now. I was mistaken in thinking that the hierarchy is created on first POST.  @samifruit514 did you observe differently ?

[2018-04-11 19:56] jdolitsky commented on #102
@davidovich the hierarchy IS created on post for cloud storage, but not local, where we will need to do a `mkdir -p`. In which case, this is actually a bug. All storage backends should provide some operational experience.

I think this is also an issue for `GET /index.yaml` on mutlitenancy. In this scenario, I dont think we need to actually do a mkdir until something is uploaded

[2018-04-11 21:01] samifruit514 commented on #102
Yes I am using localStorage. btw, if you try to POST a folder, you'll get
`{"error":"EOF"}`

do you want me to do a PR? I would change local.go and local_test.go

[2018-04-11 22:00] davidovich commented on #102
@samifruit514 Sure go ahead, we will accept this!

[2018-04-12 00:43] #102 closed

[2018-04-15 07:54] koalalorenzo commented on #101
I am not able to test because after cloning the repository, changing the branch and directory, then blindly copy-pasting (and editing) I always get:
[code]

[2018-04-15 08:59] ipedrazas commented on #101
Which command gives you that error? I've just tested this command:

[code]

And this one that will use the cloned chart:

[code]

and both seem to work.

[2018-04-15 09:44] koalalorenzo commented on #101
I found out that the helm chart is not mounting the configmap if `GOOGLE_CREDENTIALS_JSON` is only set in `env.secret`.

[2018-04-15 20:02] Cryptophobia opened #104 "Keep getting Access Denied"
When I try to create a new charts I keep getting this response to the curl command:
[code]
But when I look at the logs in the kubernetes pod, it gives me 500 errors...

[code]

What could be going on?

[2018-04-15 21:02] Cryptophobia commented on #104
I verified this is not IAM role issue as I tried the most permissions possible as well. Same 500 and 403 during the curl request...

[2018-04-15 23:36] Cryptophobia commented on #104
The permissions were correct on the IAM role. Recreating the bucket solved the problem. Maybe the bucket policy was somehow faulty.

[2018-04-15 23:36] #104 closed

[2018-04-16 00:43] Cryptophobia commented on #104
Returning 500 on ever failed request in chartmuseum is pretty bad. Should look into better exception and error propagation with actual status codes. :thinking:

[2018-04-16 14:47] mweinand opened #105 "S3 Installation Source Access Denied"
Trying to download built source from here:

https://s3.amazonaws.com/chartmuseum/release/latest/bin/linux/amd64/chartmuseum

Results in access denied.

[2018-04-16 14:51] jdolitsky commented on #105
@mweinand what command are you using to download? Are you able to simply click on the link above? Just worked fine for me just now using `curl -LO`

[2018-04-17 00:20] jdolitsky opened #106 "Local storage: multitenancy index.yaml returns error if no folder exists"
In a multitenant setup, index.yaml was returning the error "open /charts/myorg/myrepo: no such file or directory" if the directory did not exist yet.

This is not how cloud storage backends work. Instead, an empty index.yaml is returned with no entries.

This is similar to #102

[2018-04-17 20:54] #106 closed

[2018-04-23 08:40] goruha commented on #91
@jdolitsky Here is my suggestion about caching and performance.
I'll write it in pseudo-code for now. If you approve that solution I can make PR.

[code]

In few words the plan is

* Update `index.yaml` on chart push
* On regeneration of `index.yaml` in memory
** Read `index.yaml` from storage (that would be 1 request)
** Read list of charts on storage (that would be 1 request / or in case of page

[2018-04-23 13:28] jdolitsky commented on #91
@goruha the only problem with this approach, is that the contents of storage are not always defined by "chart push" event. You may have users who manually remove or add (or modify) packages in storage, which would end up in a bad index.yaml

I think that adding an option to disable index.yaml generation on startup. This will solve the original issue of startup taking too long.

That being said, th

[2018-04-23 17:57] gmauleon opened #109 "Features request: Implement the openstack storage"
PR is at https://github.com/kubernetes-helm/chartmuseum/pull/110
Keep in mind I'm fairly new to this, so don't hesitate to comment and point mistakes.

Thanks

[2018-04-24 03:56] goruha commented on #91
@jdolitsky I got problems not just on startup.
The case is that when you need to generate index from storage you need to send multiple requests to storage (to read all charts info)
I suggest to store that info in index file and read only charts that are missed there.
To get what charts missed in index file we can with 2 requests: one to get index.yaml, second for list all charts on storage.

[2018-04-24 03:57] goruha commented on #91
@jdolitsky that would work even if someone adds new charts manually to storage

[2018-04-25 07:45] ssoerensen opened #111 "Add support for PUT when uploading charts"
I think it would be a great idea to add support for using HTTP PUT when uploading charts

[2018-04-25 07:46] jdolitsky commented on #111
@ssoerensen can you explain further? Do you intend to overwrite an existing chart? This is what the `--allow-overwrite` option was intended for, and you can reuse the POST /api/charts endpoint

[2018-04-25 07:57] ssoerensen commented on #111
Basically i would like to use the https://github.com/kiwigrid/helm-maven-plugin. As of now it uses PUT. I know that basically that is wrong. What my first thought was to submit a pull request for the plugin however i do that a problem could arise with using a post variable named "chart". if i was able to just post the tgz using the main body and content-type that would be perfect instead of adding

[2018-04-25 08:01] goruha commented on #91
Following the meeting with @jdolitsky

Problems to solve:
* Startup time is O(n) from the count of charts in storage
* Hit API call limits when using cloud storage (ex.: s3) if there are lot's of charts in storage
* Poor scalability of chartmuseum because of provided reasons.

Solution:
* On change in-memory index cache save it to `index.yaml` on storage.
* On startup read from `index.yaml` to in-

[2018-04-26 12:40] cabrinoob opened #112 "/api/* returns 404 not found"
Hi,
I have a K8S cluster installed with KOPS in AWS. I tried to install chartmuseum v0.5.1 using the stable/chartmuseum helm chart with an S3 storage.

Everything starts correctly. I launch a **kubectl port-forward** command and when I call http://localhost:8080 I have the welcome page.

If I call /health I have the "true" response.

But, when I call :
- GET /api/charts I have a 404 not found
- PO

[2018-04-26 13:07] cabrinoob commented on #112
Ok .... RTFM! RTFM! RTFM!!!!

env.open.DISABLE_API | Disable all routes prefixed with /api | true
-- | -- | --

[2018-04-26 13:07] #112 closed

[2018-04-26 18:04] davidovich opened #113 "depth=1 on google cloud storage is broken when folder has same prefix as existing object"
consider the following storage structure:

[code]

getting an index in that structure will fail with
[code]

After investigation, this is related to the fact that listing objects in the backend with `my-project` prefix will return a list of [my-project-root-chart.tgz, my-project-a-chart.tgz] which is wrong. Then, to build the index, we fetch `my-project-root-chart.tgz` in the `my-project/` folder

[2018-04-26 19:31] hayderimran7 opened #114 "Generate index.yaml in chronological order for packages having same version"
**Issue **
When chartmuseum generates index.yaml for charts of a specific package (lets say `mysql`), the order of each chart  with same semantic version are not chronological in order. Charts with same version for a specific package e.g. `mysql` should be in chronological order in index.yaml so that we get latest chart of same semantic version

**Description**

consider the following, the charts

[2018-04-26 20:26] davidovich commented on #91
@goruha I think the solution of adding a index.yaml cache will not fix the startup time. Parallelizing the initial cache is not a solution either because that would mean that the museum could serve an incomplete index. I am not sure about how to solve this.

Assuming that at startup time we need to fetch all the charts, it is possible that we will be throttled. I think we need to accumulate failed

[2018-04-27 01:56] nullin commented on #114
`pkg/repo/index.go`'s `Regenerate()` invokes `SortEntries()` from https://github.com/kubernetes/helm/blob/84bb77f183a4b1ae4c688a766b1d8351a937e67a/pkg/repo/index.go#L141 which should sort the entries in `index.yaml` just like we'll want them, but that doesn't seem to be the case. In another example of the entries in `index.yaml` that ChartMuseum produced, the entries are in random order. e.g.

[co

[2018-04-27 19:59] davidovich commented on #111
I think that https://github.com/kiwigrid/helm-maven-plugin/pull/17 now implements that. Closing. Don't hesitate to reopen if you feel there is something missing.

[2018-04-27 19:59] #111 closed

[2018-04-28 15:13] goruha commented on #91
@davidovich initial read would be from index.yaml.
Here is the case:
If I run 4 pods in kubernetes each of them sends requests to storage.
On pod restart ( of any reason ) we do fetch all charts again.
Saving index.yaml and load it on startup will reduce this.
And provide huge impact in scalability of chartmuseum

[2018-04-29 10:07] auifzysr opened #115 "Local storage doesn't work when it is removed with its parent directory"
### Summary
When the directory specified by `--storage-local-rootdir` is removed with its parent directory, chartmuseum no longer cannot be pushed any charts, but it keeps running.

### How to Reproduce
Suppose chartmuseum is going to run in `/foo/bar`.

1. Chdir to `/foo/bar`.
[code]

2. Boot up chartmuseum with `--storage="local" --storage-local-rootdir="./baz"`.
[code]

3. Push a chart to the c

[2018-04-29 10:36] jdolitsky commented on #115
@auifzysr hi. thanks for opening, took a look at your change

I think that a chdir etc. is unnecessary. I think the solution is just to make a minor change to `NewLocalFilesystemBackend` to convert incoming rootDirectory to absolute path before constructing the LocalFilesystemBackend

[2018-04-29 16:41] davidovich commented on #91
I think we are in agreement for the feature and that it will relieve `GetOjects()` pressure after the index is built, I just want to clarify that the **initial** request to build the index.yaml will make GetObject() requests which might be throttled also, we need to take that into account in an eventual implementation.

I don't agree on this one. The index.yaml is a cache artifact controlled by th

[2018-04-29 16:48] goruha commented on #91
@davidovich example with interruptiong index.yaml generation is not correct.
Put file to storage is atomic. For s3 it would mean - send http request. If request broken it would not be processed

[2018-04-30 13:17] jdolitsky commented on #114
@hayderimran7 @nullin I'm not positive that the order in index.yaml determines which package the CLI decides to download for install

Can you try using the `--devel`  flag when doing `helm install` and see if you get the right version?

[2018-04-30 13:34] jdolitsky commented on #91
@goruha @davidovich I think in any case, the index.yaml produced by this should be treated as specific to chartmuseum. It may provide ease of people moving to simple storage etc. but should not be the motivation behind this. This is simply to speed things up and prevent unnecessary requests. Almost as if we should refer to it as `index-cache.yaml`.

My suggestion, in multi-tenant mode, is that thi

[2018-04-30 17:45] nullin commented on #114
@jdolitsky, using `--devel` has not been helpful. And, per `helm install --help`, `--devel` is ignored when `--version` is specified.

I think the sort order is important to Helm. Look at the comments for `SortEntries` at https://github.com/kubernetes/helm/blob/84bb77f183a4b1ae4c688a766b1d8351a937e67a/pkg/repo/index.go#L135

Or, am I misunderstanding this comment?

[2018-04-30 19:31] jdolitsky commented on #114
@nullin please provide the command being used to attempt to identify/download the correct version of the chart

I'm not sure why you would be setting `--version` - if youre doing that, you can point directly to a non-semver version, and you no longer have an issue. For example
[code]

Otherwise you can do something like
[code]

and the expectation is that you will get chart version `1.2.0-dev1+126

[2018-05-01 07:06] jdolitsky opened #116 "No ability to limit upload size"
Users can uploads gigabytes of data. This is bad.

[2018-05-01 07:08] jdolitsky opened #117 "No ability to limit number of objects in storage"
Should be able to put a cap on number of chart packages per tenant

[2018-05-01 16:59] hayderimran7 commented on #114
@jdolitsky `helm install chartmuseum/task-server --version="1.2.0-dev1+126.e017a3f"` and `helm install --devel chartmuseum/task-server` both install same version `1.2.0-dev1+126.e017a3f` as you said. but the issue here is if we specify version other than `1.2.0-dev1+126.e017a3f` like an older version, we still get `1.2.0-dev1+126.e017a3f` version :( is that expected behavior?
Secondly, the issue w

[2018-05-02 02:16] tylerauerbeck opened #119 "Finish conversion to CircleCI 2.0"
It looks like a lot of the conversion to CircleCI 2.0 has been completed. However part of the requirements from CircleCI state that the config file needs to sit at .circleci/config.yml.

The current configuration also uses the key `when:` underneath `store_artifacts`, which no longer seems available according to the documentation.

[2018-05-02 05:40] auifzysr commented on #115
@jdolitsky Hi. I [fixed it](https://github.com/auifzysr/chartmuseum/commit/1e0d97ca59a3fc3264dee7584fc2075042c11391) by using `filepath.Abs`. I'm afraid I couldn't find a way to use `filepath.Abs` without importing `path/filepath` instead of just using `pathutil "path"`, so it is newly imported.

I also thought that just replacing `pathutil "path"` with `pathutil "path/filepath"` would be alternat

[2018-05-02 05:44] jdolitsky commented on #115
@auifzysr hey! i would just lave it as `"path/filepath"`, but otherwise the change looks good! Feel free to open a PR!

[2018-05-02 21:49] #116 closed

[2018-05-02 21:49] #119 closed

[2018-05-02 21:49] #117 closed

[2018-05-02 21:50] jdolitsky commented on #115
thank you!

[2018-05-02 21:50] #115 closed

[2018-05-09 05:17] aeirola commented on #114
There is an related issue in the `helm` command which can cause it to install versions other than what is specified in the `--version` argument if it contains build metadata information. See https://github.com/kubernetes/helm/issues/4008 for more information.

I think that issue should be fixed in Helm, since it affects other repos that chartmuseum as well. Similarly, I think `helm` command should

[2018-05-09 17:11] davidovich opened #123 "Prometheus monitoring is not multitenant aware"
Metrics that were added to the museum only took one tenant into account, because there were no multitenant option at the time of it's inception. Currently, when we add multiple tenants, the per tenant index metrics get calculated, but overwrite the previous index metric calculation from a different tenant.

We could add the tenant dimension ([repo]) to the current metrics:  `charts_served` and `to

[2018-05-10 16:21] davidovich opened #124 "helm push uses "chart" as form field which could differ from chartmuseum configuration"
We use the `CHART_POST_FORM_FIELD_NAME=chartfile` configuration option (to support legacy script clients using curl to upload charts).

Right now, the helm push plugin hardcodes the form field to "chart" which does not allow it's usage with our CHART_POST_FORM_FIELD_NAME configured instance. Using `chart` is practical, as we do not want to expose this internal configuration to the helm plugin (or

[2018-05-10 20:11] jdolitsky commented on #124
Yes, this sounds good to me!

[2018-05-11 15:39] #124 closed

[2018-05-12 17:35] ptagr opened #126 "Need a openapi spec to be able to integrate with Cloud Endpoints [feature]"
Could not find a open api spec in the repo.

[2018-05-12 22:17] davidovich commented on #126
That is because there is none. You are welcome to contribute one if you need it.

[2018-05-12 22:19] davidovich commented on #109
Closed by #110

[2018-05-12 22:19] #109 closed

[2018-05-16 07:56] timstoop opened #128 "Docs update request - Please add information regarding metrics"
Hi,

I noticed from the chartmuseum Chart in kubernetes/charts that it is possible to gather metrics with Prometheus from chartmuseum. However, it is not explained anywhere how those metrics are actually exposed. Are they just exposed via /metrics on the main port? I'd love to see this updated in the docs. Unless I missed the explanation about it somewhere?

[2018-05-16 12:25] davidovich commented on #128
I'm working on a fix for Prometheus metrics, So I will take the opportunity to add some documentation. Thanks for the interest and suggestion.

[2018-05-17 15:06] rmfish opened #129 "Helm install return 'failed to download' error"
Hi,
This error has already perplexed me for a long time.

[code]

Info:
[code]

The index.yaml:
[code]

The url ` http://chart.daily.net/charts/service-geo-master_180506004437_2c84e673.tgz` is downloadable with curl.

The chartmuseum is run with docker, the docker compose file is:
[code]

[2018-05-17 15:44] jdolitsky commented on #129
@rmfish I think this is due to the version of your chart not being proper semantic version.

Can you please try running the following:
[code]

The `--devel` flag is documented as
[code]

Does this solve the issue?

[2018-05-17 16:33] rmfish commented on #129
No, still have the same error with `--devel`  and  `--version master_180506004437_2c84e673`
But when I modified the chart version to 1.0.0 , it worked fine.

My chart version contains git branch & build time & commit revision. It is automatically created by CI job. It is better to support :).

[2018-05-17 17:42] jdolitsky commented on #129
@rmfish yes I agree. However, it is now apparent that this is an issue with Helm non supporting non-semvar looking versions

[2018-05-18 01:49] rmfish commented on #129
There is an related issue in the helm. https://github.com/kubernetes/helm/issues/4008

[2018-05-18 01:49] #129 closed

[2018-05-18 07:41] timstoop commented on #128
Much appreciated!

[2018-05-18 11:09] davidovich commented on #128
Note that there was a change in the metric names and that the docs are slightly ahead of the current release. Please see #130.

[2018-05-22 17:09] davidovich opened #131 "Double Put and object validation occur since we support default `chart` field"
In #125 we added support for default `chart` post field.

This has a bad side effect of putting and validating the object twice when no field is configured for CHART_REPO_FORM_FIELD_NAME, which we should avoid as it is the default configuration.

[2018-05-22 17:17] #131 closed

[2018-05-27 07:48] #72 closed

[2018-05-28 09:34] aleerizw opened #134 "Feature request: Retire old charts"
It would be nice to have a flag that allows to keep only the last x versions of a chart.

[2018-05-28 09:37] jdolitsky commented on #134
@aleerizw I agree! Thanks for opening.

[2018-05-28 09:41] aleerizw commented on #134
@jdolitsky Thanks for the quick reply! I will take a stab at implementing this.

[2018-05-31 14:11] eonicle opened #136 "Extra slash added to chart URL"
ChartMuseum version: 0.7.0
Helm version: 2.9.1

I recently upgraded from 0.3.1 to 0.7.0 (using AWS S3 backend, basic auth, no multitennancy, no redis cache) - basically just upgraded docker image version. After that all chart that have extended semver version (like 0.0.0-develop) started failing to download - ChartMuseum returned malformed URLs like https://domain.com//charts/sample.tgz (notice th

[2018-06-01 14:16] jdolitsky commented on #136
@eonicle thanks for the kind words and thanks for opening!

Unfortunately I was not able to reproduce this issue, using Helm 2.9.1 and ChartMuseum 0.7.0

My first though was that you might be using the `--chart-url` option, but even testing with that results in a OK-looking index.yaml:
[code]
[code]

Could you share a little more about your setup? For example, is this running behind a proxy? Which

[2018-06-04 09:30] eonicle commented on #136
Hello again, and thank you for your quick response!
Here is what I get when querying for chart versions via api request (`GET https://charts.domain.my/api/charts/awesome-app `):

[code]
Notice the double slash in URL. The same repeats for approx. 70 other charts versioned this way. As ChartMuseum returns non-vaild URL, Helm fails as well:

`$ helm fetch ewizard/awesome-app --version=0.0.0-develop

[2018-06-08 13:47] mattfarina opened #137 "Copyright headers"
Code files (not config) need a copyright header. It should look like:

[code]

[2018-06-08 14:02] dankohn commented on #137
We would recommend "Copyright The Helm Authors." instead of "Copyright 2018 The Helm Authors All rights reserved."

[2018-06-08 21:20] jbrownsc commented on #136
I'm seeing the same issue.  Using the following command to publish.
[code]

[2018-06-08 21:40] jbrownsc commented on #136
Passing `--disable-statefiles` or env `DISABLE_STATEFILES` seems to have fixed the issue.  I did NOT have to re-publish the chart, but I did a few times while testing, thus the updated created.

[code]

[2018-06-08 23:46] jdolitsky commented on #136
@jbrownsc thanks for the investigation into this. This seems to relate to the statefile introduced in 0.7.0. Will investigate further.

[2018-06-11 14:44] jdolitsky commented on #137
@mattfarina @dankohn sounds good, will get this taken care of

[2018-06-15 22:21] Cryptophobia opened #138 "Creates wrong names for .prov file"
When the helm .prov files generated with the `helm package --sign` command has the following structure:

[code]

Chartmuseum creates a .prov file that is not named correctly when pushed with:
[code]

The file is named:
[code]

But the file should be named:
[code]

A way to fix this is to remove `name:` from the maintainers field in the .prov file above. Chartmuseum is obviously looking for the fir

[2018-06-18 16:15] jdolitsky commented on #138
@Cryptophobia thanks for catching this, this should be an easy fix.

[2018-06-18 19:40] Cryptophobia commented on #138
@jdolitsky Are you using go 1.9 got an error when trying to test with go 1.8

```vendor/go.uber.org/zap/field.go:33: syntax error: unexpected = in type declaration```

[2018-06-18 20:11] #138 closed

[2018-06-20 14:14] fabzo opened #140 "Health route no longer at /health when using depth=1"
When starting chartmuseum 0.7.0 with the env variable DEPTH set to 1 the /health route is no longer found at the context root, but at /some-string/health.

As a quick fix for my deployment I adjusted the kubernetes liveness and readiness probes to go to /depth1/health instead of /health in my local copy of the [chartmuseum chart](https://github.com/kubernetes/charts/tree/master/stable/chartmuseum)

[2018-06-20 17:13] jdolitsky commented on #140
@fabzo good find, yes it definitely should

[2018-06-20 19:50] plokimju opened #141 "How to download charts from chartmuseum?"
Hi ,

I am trying to download charts from chart museum. But as per the documentation. There is only a way to list the charts but not to download them to local. Please let me know possible way to achieve this?

[2018-06-20 19:52] jdolitsky commented on #141
@plokimju can you elaborate?

ChartMuseum meant to be directly with the Helm client, so you can do something like
[code]

This will download latest chart .tgz to current directory

[2018-06-20 20:12] plokimju commented on #141
Hi @jdolitsky ,

Thanks for your prompt response:

When I do a "helm fetch" I see:

  helm fetch chartmuseum/workflowengineservice
Error: chart "abc" matching  not found in chartmuseum index. (try 'helm repo update'). No chart version found for **abc-**

[2018-06-20 20:32] plokimju commented on #141
@jdolitsky  - I am able to see the chart index.yaml. Interestingly error append "- " at the end of chartmuseum   "No chart version found for **abc-**"

[2018-06-20 20:52] jdolitsky commented on #136
@eonicle @jbrownsc this issue should now be fixed on master. Can you try out the "latest" docker image and see if the problem is fixed on your end? Thanks!

[2018-06-20 20:56] jdolitsky commented on #141
@plokimju would you mind sharing contents on index.yaml? Have you added the repo with `helm repo add` ?

[2018-06-20 21:07] plokimju commented on #141
@jdolitsky  - yes I did

$ helm repo list
NAME            URL
chartmuseum     http://<endpoint>:8080/<repo>/

$ helm repo update
Hang tight while we grab the latest from your chart repositories...
...Successfully got an update from the "chartmuseum" chart repository
Update Complete. ⎈ Happy Helming!⎈

Index.yaml

$ curl http://<endpoint>:8080/<repo>/index.xml
  % Total    % Received % Xferd  Avera

[2018-06-20 21:32] jdolitsky commented on #140
@fabzo this hsould be fixed on master. Can you please try with the "latest" docker image tag and let us know if this is working for you? Thanks!

[2018-06-21 15:52] plokimju commented on #141
closing as I am able get the the charts with curl

[2018-06-21 15:52] #141 closed

[2018-06-21 17:37] fabzo commented on #140
Thanks for the fast response. I will test it tomorrow and report back.

[2018-06-21 17:52] jdolitsky commented on #113
@davidovich can this be solved by simply making sure prefix ends with a "/" char?

[2018-06-24 22:16] fabzo commented on #140
Took me a while to get back to it. I reverted the liveness and readiness probes to the /health route and deployed it with the latest image.

Looks good to me:
`{
  "M": "[75] Request served",
  "path": "/health",
  "method": "GET",
  "statusCode": 200,
...
}`

Thanks for the fix :-)

[2018-06-25 19:28] jdolitsky commented on #140
@fabzo great thanks for verifying!

[2018-06-25 19:28] #140 closed

[2018-06-25 22:37] ptagr opened #142 "Started receiving errors with code 500 when uploading chart. Debug logs not enough to find the problem."
We just started receiving errors with code 500 when trying to upload chart.
We use GCS as the storage and we checked the permissions of the service account and all looks good.

[code]

How else can we debug the issue?

[2018-06-26 05:05] ptagr commented on #142
updating to `v0.7.0` fixed it

[2018-06-26 05:05] #142 closed

[2018-06-26 20:32] subesokun commented on #59
Any progress on that feature? I'd really require it as I'm currently working with a requirements.yaml file in combination with basic auth for authentication against chart museum. This has the ugly side effect that in the requirements.lock file the basic auth credentials are visible in clear text and hence I can't (shouldn't) put this file under version control so I can't lock my dependencies 😔

[2018-06-27 09:18] mumrau opened #143 "Remote values file injected at helm install"
Hello everyone,

That issue might be related to Helm itself, but it could be a chartmuseum issue too, and I wanna apologize if I missed something crucial.

I set up my repository and I got it fully working except for one thing (which might not be supported), let's suppose the chart I wanna deploy is really abstract in the sense that it is versatile depending on provided values file.
I cannot deplo

[2018-06-27 14:32] jdolitsky commented on #143
@Mumrau welcome, thanks for opening

This seems to be the same ask as chartmuseum #88 . Can you confirm?

[2018-06-27 14:36] Mumrau commented on #143
Yes kind of.
I would rather have a special route in order for values because this is one
of core concept but yes this is the same objective.
I didn't find it during my research because I only saw it valuable for
"values" instead of "files".

On Wed, Jun 27, 2018, 16:32 Josh Dolitsky, <notifications@github.com> wrote:

[2018-06-28 07:29] subesokun commented on #59
I was giving this issues some more thoughts. I know this is not so much related to chart museum itself but it would be great if helm would provide a login mechanism similar to Azure or other big players.

- Users can simply login by calling `helm login <repo>` without passing explicitly any password or user via OAuth2.
- As OAuth2 requires user interaction this login mechanism won't work for CI/CD

[2018-06-29 21:25] jdolitsky commented on #59
@mattfarina ^^^

@subesokun you are definitely on the right track with this. If you have a solid proposal for how this should work in Helm 3, please open an new PR w/ proposal here: https://github.com/helm/community/tree/master/helm-v3

To solve your basic auth problem short term, I believe that since Helm 2.9, you can add a repo with the `--username/--password` flags, then in your requirements.ya

[2018-07-03 11:36] subesokun commented on #59
@jdolitsky Thanks a lot for the hint! I've tested it and indeed the `helm repo update` command could successfully pull the metadatas from my private repository. But unfortunately if I run a `helm dependency build .` then this command fails with a `401 unauthorized` error and hence helm can't fetch the tar.gz archives.

Regarding the Helm 3 proposals, sure I'll try to add my ideas there :)

[2018-07-06 11:47] volatilemolotov12 opened #144 "GCS auth"
There is no documentation on how to provide google storage credentials to chartmuseum.

i get :

panic: dialing: google: could not find default credentials.

when trying to run in docker using e STORAGE="google" --storage-google-bucket="test-helm-repo"

[2018-07-06 18:18] jdolitsky commented on #136
Closing this issue. Going to cut a bugfix release. Please comment here if you still experience.

[2018-07-06 18:18] #136 closed

[2018-07-06 18:36] #144 closed

[2018-07-06 18:37] jdolitsky commented on #144
@volatilemolotov12 thanks for opening, I've added a short note to the README, let us know if youre able to get things running

[2018-07-06 18:56] samifruit514 opened #145 "Unable to delete org in multitenancy context"
Hello,

We need to do some cleanup in our organizations in our multitenancy setup. I don't see anything in the code that deletes organizations. Do you think it would be a good idea to add a route for this?

[2018-07-06 19:29] jdolitsky commented on #145
@samifruit514 thanks for opening

Could you elaborate by what you mean by "delete" an organization? You would like for chartmuseum to limit which routes are allowed/accepted repos?

Please see #86. This issue does not fully cover this, but we need to add the ability to specify configuration on a per-tenant basis. Then, you can startup the server with a configuration file specifying which repos are

[2018-07-06 20:02] volatilemolotov12 commented on #144
Great, that works. Maybe you should also add that if using docker one should mount the key inside because i lost like half an hour trying haha.

Once again thanks for quick reply.

[2018-07-10 15:59] jdolitsky opened #146 "Switch license to Apache 2"
As required by CNCF
cc @mattfarina

[2018-07-11 04:46] mailzyok opened #148 "[Question] Does chartmuseum support HA?"
Hi

We have tried chartmuseum, and it is great and very easy to use. We are curious on whether chartmuseum supports a HA deployment on K8S.

Thanks,
yzha

[2018-07-11 18:46] #137 closed

[2018-07-11 18:46] #146 closed

[2018-07-11 21:01] jdolitsky commented on #148
@mailzyok Thanks! Glad you're having a good experience.

In general, it should be safe to run chartmuseum across multiple replicas.

My only suggestion is to use Redis for the cache by specifying the following options:
[code]

This will result in minimal requests against your storage backend (chart downloads etc.) when building the repository index (index.yaml)

Please let us know if you experienc

[2018-07-12 02:51] mailzyok commented on #148
@jdolitsky Thanks for the quick response. We will have a try in coming days and get back to you later.

[2018-07-12 05:25] mailzyok opened #149 "[Question] more Authentication solutions"
Hi

Here is a new question:

Is there any plan to support OAuth2, RBAC and GUI for management?

Thanks,
yzha

[2018-07-16 15:31] jdolitsky commented on #149
@mailzyok all these topics are currently under active discussion. Please see #59

We will be having a web chat about this soon. Please reach out to me in k8s slack if you would like to join.

[2018-07-17 18:36] jdolitsky commented on #101
@koalalorenzo @ipedrazas good to close this issue?

[2018-07-17 18:53] jdolitsky opened #150 "ChartMuseum UI"
As a ChartMuseum user, I want a basic UI so that I can:

- **Login with basic auth credentials (if enabled)**
- **List all charts in repo**
- **List all versions of a chart**
- **Download charts**
- **Upload charts**
- **Delete charts**
- Search for charts
- Display the chart's README (see #88, #143)
- Mark my repo as public vs private

In the case that I am running a large multi-tenant ChartMuseu

[2018-07-17 23:08] jdolitsky opened #151 "Ability to force upload with ?force querystring"
Related to an in issue in helm-push: https://github.com/chartmuseum/helm-push/issues/5

[2018-07-17 23:11] #151 closed, assigned to jdolitsky

[2018-07-25 23:52] joejulian commented on #59
Has anyone considered just running [oauth2_proxy](https://github.com/bitly/oauth2_proxy) as a sidecar to provide authentication?

[2018-07-26 04:51] IMBlues opened #152 "index.yaml regenerating every request even without any package updated"
The index.yaml will regenerate every request to `/index.yaml` even though there is no any package changed.

When we compare the `LastModified` between objects from cache and storage:
https://github.com/helm/chartmuseum/blob/master/pkg/storage/storage.go#L64

The objects from cache is out of order due to map ranging....
https://github.com/helm/chartmuseum/blob/master/pkg/chartmuseum/server/multiten

[2018-07-26 11:10] subesokun commented on #59
@joejulian I've considered this but to the time I've evaluated oauth2_proxy it didn't support passing in OAuth Bearer Tokens, I think this was the related issue https://github.com/bitly/oauth2_proxy/issues/530. Furthermore the Helm client would need to be able to fetch such token (e.g. via a `helm login` command) and inject it in every request.

[2018-07-26 17:09] jdolitsky opened #155 "Support for Helm Repositories v2"
Please see https://github.com/helm/community/pull/27

The can be accomplished by adding a `--v2` flag.

If ChartMuseum 1.0 is targeted for Helm v3 support out-of-the-box, we can make this the default and provide a `--v1` flag to do the opposite (or deprecate completely).

[2018-07-26 17:44] jdolitsky commented on #152
@IMBlues thanks for detailed issue and PR! Few things:

1. How are you determining that "index.yaml will regenerate every request"? I have not experienced this, and there should be tests to confirm. It is the intent that the check for regeneration happens every time, but that regeneration only happens when necessary. It should only happen one time between any number of objects uploaded and /index.

[2018-07-27 02:51] IMBlues commented on #152
1 & 2. I can confirm this behavior because "Change detected between cache and storage" showed **every request** to `/index.yaml` with `--debug`
  3. I reviewed the code and found it's none of business about order of objects, but `LastModified` of the object really matters:

The timestamp from storage(S3 backend, [ceph rgw](http://docs.ceph.com/docs/master/radosgw/) provides) has higher precision t

[2018-08-03 02:41] equaqin opened #156 "authentication issue"
I can set the username and password in yaml file and when upload chart tgz to chartmusem it requires authentication. Does it support multiple username and password? And currently the password is cleartext in the configuration yaml, could there be some way to hide the cleartext password?

[2018-08-07 19:58] travisgroth opened #157 "gen-url option does not work when state files are enabled"
[code]

When I add --disable-statefiles, the chart url is prefixed correctly:

[code]

[2018-08-07 20:17] jdolitsky commented on #157
@travisgroth thanks for opening. will take a look soon

[2018-08-08 14:38] mattfarina commented on #156
@equaqin Work is being done to enable a better authentication system. This will likely leverage external providers and use a common mechanism. It's currently under development.

[2018-08-08 15:25] plokimju opened #158 "Is there a way to download charts from chart-museum"
I don't  see any documentation to download charts from chart museum.. There documentation only describes uploading and installing charts. Also is there a way to install particular version of chart

[2018-08-08 17:19] #158 closed

[2018-08-09 14:03] iJanki opened #159 "parsing time error extra text: Z"
I'm trying out chartmusuem using openstack storage. Upload of chart through seems to have worked, but when i try to get /index.yaml or /api/charts I get this error

[code]

[2018-08-09 15:39] jdolitsky opened #160 "Add "serverInfo" section to index.yaml"
Related to https://github.com/chartmuseum/helm-push/pull/14

[2018-08-13 09:47] obeyler commented on #150
May you can use Monocular to do that  it's an helm chart repository browser. It can help you to show what is present into your chartmuseum. I don't know if you can use it to push new chart into your chartmseum repos.

[2018-08-13 09:51] obeyler opened #162 "S3 backend"
#8 issue add a way to declare new endpoint for S3 storage such as minio.
My trouble is that my minio use a self signed certificate. Does a way exist to add new CA or disable SSL check ?

[2018-08-14 15:19] #160 closed

[2018-08-15 03:03] mailzyok commented on #148
@jdolitsky We are trying the HA deployment with multiple replicas, here are some questions:
What will happen if two replicas trying to building the index.yaml at the same time, will there be a conflict?
What will happen if two replicas trying to upload the same chart achives at the same time, will there be a conflict?

Thanks,
yzha

[2018-08-22 16:33] dustinvanbuskirk opened #164 "Add Users with ReadOnly permissions"
Keeping the Chart Museum instance private utilizing Basic Auth.  I

 would like to be able to configure additional users and restrict these user's logins to only running GET against the Chart Museum instance.

[2018-08-23 06:36] goruha commented on #164
For that purpose I run 2 chart-museums that share storage.
On of it is `readonly`

[2018-08-24 20:49] jdolitsky commented on #59
Hi all, this work is finally underway (thank you @zachpuck)

The "latest" ChartMuseum image can now be configured with public key to verify JWT tokens. It does not yet inspect the claims to check for specific allowed actions etc.

Please see this example repo of how this can be used today:

https://github.com/chartmuseum/auth-server-example

The way to configure ChartMuseum to use this new functio

[2018-08-29 13:27] stevie- commented on #141
Also hit this issue.

Found out that the problem is related to the `version`. If version has a suffix with a dash `-`, `helm install chartmuseum/CHART` can't find the chart version.
Sematic Versioning supports dashes and Suffixes. Not sure if bug in helm or chartmuseum.

[2018-08-30 22:10] jschrantz commented on #157
@travisgroth were you running against a bucket that you previously used without the chart-url flag?

I think the core issue is that enabling chart-url does not seem to regenerate the index cache. In order to enable the flag I had to remove the index-cache.html from my bucket and then restart the service. After that it behaved as expected.

[2018-09-08 22:52] verwilst opened #166 "Running as root inside container"
Chartmuseum is currently running as root in the container. This conflicts with Kubernetes clusters that have PodSecurityPolicy support enabled.

`Warning  Failed     5s (x3 over 18s)  kubelet, k8s-prod-worker02  Error: container has runAsNonRoot and image will run as root`

Please add a user to the container and run chartmuseum as it.

[2018-09-09 21:40] verwilst commented on #166
I've made a PR instead. Closing this.

[2018-09-09 21:40] #166 closed

[2018-09-10 16:58] jdolitsky commented on #152
@IMBlues sorry we left this unfinished. Were you able to determine if this is related to Ceph?

[2018-09-13 15:19] jdolitsky commented on #162
@obeyler sorry for late response. I'm not seeing a way to add custom CA (looking at [s3 config options](https://github.com/aws/aws-sdk-go/blob/56018901efd0b8084af1fb83b7e2604aba53f143/aws/config.go#L33)). We may be able to specify a custom `HTTPClient`?

However, if you specify a `--storage-amazon-endpoint` with `http://` vs `https://` the `DisableSSL` param will be set to false.

@freemantle1989

[2018-09-18 03:32] IMBlues commented on #152
No, I didn't test it on other s3 backend and this [pr](https://github.com/helm/chartmuseum/pull/154) does solve my problem. I think we should close it now, I will reopen it if I have more time to determine .

[2018-09-18 06:08] jdolitsky commented on #152
@IMBlues if the fix works for you, then we should add a config option that lets us get to the "ignore milliseconds" functionality. Maybe something like a `--timestamp-comparison=ms (default)`?

You then use something like `----timestamp-comparison=sec` to fix your issue? Let me know what you think

[2018-09-18 08:40] IMBlues commented on #152
@jdolitsky I think adding flag is better than what I did(directly ignore milliseconds in code), maybe I'll try it later this week and make another pr

[2018-09-18 20:07] leprechaun commented on #141
Well, it's not a bug, but an annoyance for people like us, I guess.

SemVer, and thus helm, consider that version strings w/ an additional `-tag` are actually pre-releases. Helm is simply not showing you, or using those by default.

I see 3 easy-ish solutions here:

- Specify `--devel` in your `helm` calls, so that it considers those pre-releases
- Specify `--version $VERSION` in your helm calls
-

[2018-09-20 18:08] mattfarina opened #168 "Only Store Chart Once"
&tldr; If a chart is uploaded to chartmuseum many times only store it once.

The idea here is based on content addressing rather than addressing by name. This would handle things like container images.

With container images the name (`[org|user]/[name]`) and tags are metadata. Containers have an id in the form of `algo:hash`. This is how the parent is referenced as well. Content is addressed by t

[2018-09-21 10:45] freemantle1989 commented on #162
i am trying it like:
chartmuseum --debug --port=8080 --storage="amazon" --storage-amazon-bucket="MY_BUCKET" --storage-amazon-endpoint="http://MY_MINIO:9000" --storage-amazon-prefix="MY_PREFIX"

and i allways get this:
ERROR   NoCredentialProviders: no valid providers in chain. Deprecated.

..i can change prefix an bucket but it has the same result.....i also tried it without prefix and bucket but

[2018-09-21 21:04] jdolitsky commented on #168
@mattfarina I've received this feedback from several others about this as well, thank you for opening the issue with a good summary of the problem.

The nice thing about how objects are stored right now is that you can visually inspect the bucket and know exactly which charts exist. This makes a migration from chartmuseum to a simple storage very easy, and does not leave the bucket in a state that

[2018-09-24 15:33] mattfarina commented on #168
@jdolitsky You bring up a good point to the simple storage <-> chartmuseum bit. At this point I would ask a bunch of questions to determine the best path. Such as:

* Is this a some migration from storage to chartmuseum, a migration from chartmuseum to storage, or both ways? No matter which case, why the migration? Understanding this could be important because it could inform features, direction,

[2018-09-24 21:31] sereeth opened #169 "Extra metadata?"
Does the index support somehow injecting extra metadata about the package in somehow?

[2018-09-26 17:20] jdolitsky commented on #169
@sereeth not at this time. How would you ideally like chartmuseum to provide this?

[2018-09-26 17:32] jdolitsky commented on #168
@mattfarina

This works both ways, but I would guess the more common migration would be storage to chartmuseum. One of the nice things about chartmuseum is that you can point it at a bucket with a bunch of .tgz chart packages and it "just works".

This is not of real significance. It only illustrates further the simplicity of the current solution.

There are several use cases for this currently. U

[2018-09-27 12:51] kirrbr opened #170 "Absolute url in the string "url""
how to make the string from
urls:
    - charts/mariadb-3.0.3.tgz
to
urls:
    - https://privatecharts.test.com/mariadb-5.0.5.tgz

Rancher 2.0 is not working because of the following issue:
https://github.com/rancher/rancher/issues/13788

Thanks

[2018-09-27 13:43] jdolitsky commented on #170
@kirrbr hello, please try using --chart-url=<url>

[2018-09-27 17:28] kirrbr commented on #170
Thanks @jdolitsky . It worked

[2018-09-27 17:28] #170 closed

[2018-10-08 18:15] jdolitsky commented on #150
This was just published: https://github.com/idobry/chartmuseumui

[2018-10-11 15:17] jdolitsky opened #172 "Silence /health route"
The `/health` route creates a lot of noise (especially in kubernetes deployment) and should not be logged

[2018-10-15 09:29] trobert2 opened #173 "wrong example in documentation for using s3 as a backend"
Due to the latest change in the chartmuseum image here: https://github.com/helm/chartmuseum/blame/master/Dockerfile#L5
the root user is not the user used to execute the binary. it’s `chartmuseum`.

The docs state in the example of usage with S3 that the creds should be mounted under root.
[code]

Clearly wrong. After upgradint the path to `/home/chartmuseum/.aws` our issue was fixed.
An update to

[2018-10-16 07:32] born4new opened #175 "HA setup - Consistency issue when pushing new charts"
## Our setup

We have installed Chartmuseum with the Helm chart on Kubernetes with an S3 backend and no caching mechanism.

We set the replica **to 2** for the deployment.

## Failing scenario

* We push a new package successfully.
* If we go check the index page on the api (`/api/charts`), the newly pushed package is not there.
* If we push again, we get an error from chartmuseum that the chart h

[2018-10-16 14:42] jdolitsky commented on #175
@born4new I've just tried to replicate this by standing up two local servers on two separate ports, pointing to the same backend. I push to one server, and afterwards do a `GET /api/charts` on the other one and the package is there.

If possible, could you share some logs coming from the pods linked to the /api/charts request?

[2018-10-16 16:04] Cryptophobia commented on #136
Thank you for fixing this. 0.7.1 release works like a charm!

[2018-10-17 21:18] viniciuschiele commented on #169
I'm also looking for it, I'm currently storing metadata as configmap, if I could upload the chart along with the metadata would be great.

[2018-10-17 21:21] viniciuschiele commented on #172
I noticed it too, I think the "healthy" logs are not useful and could be removed.

[2018-10-23 15:31] anilarora opened #176 "Support for Oracle Cloud Infrastructure Object Storage"
The goal would be to support Oracle's OCI cloud storage service as the backend store, utilizing support for OCI native functionality such as identity principals and compartments.

[2018-10-25 05:37] steven-zou opened #179 "[QUESTION] Do we support redis Sentinel/Cluster as cache?"
Check the code, seems only simple client is used to talk to redis cache. I'm wondering if we can config a redis with Sentinel/Cluster mode enabling as chartmeseum cache?

[2018-10-25 14:44] jdolitsky commented on #179
@steven-zou it looks like the underlying library supports it: https://github.com/go-redis/redis

So we would just need to add some options and pass them through to pkg/cache/redis.go

[2018-10-25 17:34] gsexton commented on #156
@mattfarina I looked through the code and saw that there is support for doing bearer auth. Are there any docs out there the show how to do this? I admit, I've never done this kind of auth before. Are there any specific auth servers that chartmuseum is known to work with?

[2018-10-30 16:26] plokimju opened #180 "[question] renaming repo name"
Hello,

I have 2 repos as below in chartmuseum

http://chartmuseum-host:8080/prod
http://chartmuseum-host:8080/dev

Now I need to change one of these repo name. How do I do that? any thoughts?

[2018-10-30 16:47] jdolitsky commented on #180
@plokimju this should be simple. Just do the equivalent of
[code]
for your storage backend

[2018-10-30 16:49] jdolitsky commented on #156
@gsexton the bearer auth support is still in progress, and will be more supported in 0.8.0 release

Please take a look at this in the meantime:
https://github.com/chartmuseum/auth-server-example

[2018-10-30 18:20] ralekseenkov opened #181 "Can you guys release 0.7.2?"
We'd like to take advantage of "--force". But it's not in 0.7.1 and switching our Helm-based deployment to use the "latest" docker image doesn't sound like a good idea.

[2018-10-30 20:52] ekjuanrejon opened #182 "Windows 2016"
How to run chartmuseum inside windows server 2016?

[2018-10-31 10:18] obeyler commented on #162
Is there a way to specify witch kind of signature must be used ?
I have a S3 with V2 signature and not V4

[2018-10-31 22:44] ekjuanrejon commented on #182
closing this ticket as i was able to get it running using azure container instance.

[2018-10-31 22:44] #182 closed

[2018-11-01 05:29] jdolitsky commented on #181
@ralekseenkov Hi. We are planning a 0.8.0 release that will be ready soon, thanks for your patience

[2018-11-01 05:31] jdolitsky commented on #176
support now in master

[2018-11-01 05:31] #176 closed

[2018-11-01 05:33] #173 closed

[2018-11-01 05:36] jdolitsky opened #183 "Token claimset inspection for bearer auth"
Add a JWT token spec and accept/deny requests based on the claimset when bearer auth is enabled

Something like
[code]

[2018-11-01 21:26] ekjuanrejon opened #184 "high latency"
Hello

I am running chartmuseum connected to azure blob but the latency to query index.yaml is very high.

What can I do to remedy the situation?

[2018-11-02 15:41] jdolitsky commented on #184
@ekjuanrejon can you elaborate? Can you send output of `time helm repo add myrepo <url>`? How many charts do you have in storage? Is everything running in the same region?

[2018-11-04 21:17] #172 closed

[2018-11-05 06:28] ekjuanrejon commented on #184
Hello

attached is an image of the logs. The blob is in region EU and chartmuseum running in Australia region

![image](https://user-images.githubusercontent.com/38057696/47981468-ec26a400-e0c3-11e8-8559-17f33613351c.png)

[2018-11-05 06:45] ekjuanrejon commented on #184
Hello

I put everything under the same region and is fast

[2018-11-05 06:45] #184 closed

[2018-11-15 22:38] pascallap opened #187 "Chartmuseum unusable after deleting a chart"
We are hitting a very annoying bug.
Our ChartMuseum is configured with a S3 bucket.
We are doing some cleanup, so deleting old charts
.
Once in a while, after we have Deleted some chart we are unable to perform GET call to list versions of a chart using the api.
We are hitting an error:
`{
  "error": "NoSuchKey: The specified key does not exist.\n\tstatus code: 404, request id: XXX, host id: YYY"

[2018-11-16 01:08] jdolitsky commented on #187
@pascallap sorry youre having issues. Can you explain what you mean by "copy all the files of every namespace"?

Are you talking about manually deleting a single .tgz package, or an entire directory?

[2018-11-16 12:59] pascallap commented on #187
Sorry for bad explanation.
I should have use multitenancy directories instead of namespaces.
So let say we have a chart in:
`project1/chartA`
`project2/ChartB`

We are deleting versions of `ChartA` in `project1` using the chartmuseum api.
After some deletion (not always), when we hit the api to get versions of ChartA we get the error described earlier.
Restarting the Chartmuseum pod (we are runnin

[2018-11-16 13:05] pascallap commented on #187
Ho and forgot to mention that by doing so we are reseting all the `created` metadata of every chart versions.
We though that this kind of information were embeded in the charts not taken from the S3 instance.

[2018-12-03 17:16] jdolitsky commented on #150
The above repo is now an official chartmuseum project: https://github.com/chartmuseum/ui

[2018-12-03 17:16] #150 closed

[2018-12-05 00:59] #64 closed

[2018-12-05 01:44] #59 closed

[2018-12-05 01:44] #90 closed

[2018-12-05 01:44] #149 closed

[2018-12-05 01:44] #156 closed

[2018-12-05 01:44] #164 closed

[2018-12-05 01:45] #183 closed

[2018-12-07 20:05] jdolitsky commented on #181
@ralekseenkov 0.8.0 is now released!

[2018-12-07 20:05] #181 closed

[2018-12-10 10:35] volatilemolotov opened #192 "Unable to start , GCS issue"
I get the following issue and i don't understand why:

ERROR   Get https://www.googleapis.com/storage/v1/b/%22$REDACTED_REPO_NAME%22/o?alt=json&delimiter=&pageToken=&prefix=&prettyPrint=false&projection=full&versions=false: oauth2: cannot fetch token: Post https://oauth2.googleapis.com/token: dial tcp: i/o timeout     {"repo": ""}

Why does dial on oauth2.googleapis.com fail?

[2018-12-10 11:55] volatilemolotov commented on #192
Look like i had an issue with ipv4 forwarding on the host. chartmuseum just had no internet access. Sorry for false issue

[2018-12-10 11:55] #192 closed

[2018-12-11 08:38] k commented on #83
Looks like this could get some inspiration from: https://docs.docker.com/registry/notifications/

[2018-12-14 18:56] rfvermut opened #193 "Local storage persistence is broken"
Kubernetes persistence mounts local storage as root. And 1.8 changed docker user to non-root so chartmuseum process cannot write to /storage.

Needs init-container or something similar.

[2018-12-14 20:32] saphoooo commented on #193
same here

**command**

[code]

**logs**

[code]

**analysis**

[code]

[2018-12-14 20:45] saphoooo commented on #193
In 0.7.1 chartmuseum run as root, so it works.

[code]

[2018-12-16 22:27] kbambridge opened #194 "Safe to use ReadWriteMany?"
Is it safe to have multiple instances of chartmuseum be reading/writing to the same persistence volume?

[2018-12-17 16:15] jdolitsky commented on #193
@rfvermut @saphoooo @evilosa I believe that this is something that can be fixed in the chart

Using something like

[code]

https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod

Will keep this open until that is fixed

[2018-12-17 16:24] jdolitsky commented on #194
@k in general, yes. In the case that two incoming requests are uploading the same chart at once, the one received last will win.

In terms of the repo index, this should remain consistent across replicas. Using a redis cache should improve performance by keeping chart loading/regeneration to a minimum.

We are in need of a Chartmuseum HA guide for the Helm chart to walk through this. Please let us

[2018-12-20 20:38] jdolitsky commented on #193
@rfvermut @saphoooo @evilosa

This issue  should now be fixed in chart version 1.8.2:

[code]

Please re-open this issue if any problems. Thanks!

[2018-12-20 20:38] #193 closed

[2018-12-21 09:16] chenlein opened #195 "Chart package can not be uploaded to the chartmuseum"
The helm information:
[code]

The error message：
[code]
Thanks for you help!

[2018-12-21 16:35] jdolitsky commented on #195
@chenlein the issue is in the curl command, you need to use the `@` symbol

Instead of
[code]

Use
[code]

The string "./chartmuseum-1.8.0.tgz" is being uploaded vs the package itself. You may also want to take a look at the [helm-push](https://github.com/chartmuseum/helm-push) plugin.

[2018-12-21 16:39] jdolitsky commented on #195
@chenlein In terms of the 500/permission denied from helm push, this looks like you're experiencing #193. Which version of the chart are you using? This has been fixed in chart version 1.8.2

[2018-12-24 00:40] #195 closed

[2018-12-25 23:34] k opened #196 "How to add README to chart museum repository?"
I get a 404 whenever monocular tries to pull the README for my chart, but I have a README.md stored in the root of my chart directory when running `helm push`. How do we add READMEs to chartmuseum so they are viewable my monocular?

I tried running `helm package` myself and the README is stored in the tgz.

[2018-12-27 09:39] jdolitsky opened #197 "Support for Baidu cloud"
Upgrade to chartmuseum/storage v0.3.0 and add CLI options etc.

[2018-12-27 21:52] #197 closed

[2018-12-27 21:53] jdolitsky commented on #196
@k I'm not quite sure. Chartmuseum just implements the repo spec, so I would assume this is a monocular issue
cc @prydonius

[2018-12-28 17:47] tonsV2 opened #200 "Basic auth with docker"
How can I use basic auth with the docker image? Can auth be enabled through environment variables?

[2019-01-03 03:41] steven-zou opened #201 "404 not found if calling /:repo/index.yaml when :repo=api"
* set depth=1
* use repo name `api`

404 not found error will be returned when calling index.yaml of repo **api** ` /:repo/index.yaml (/api/index.yaml)` because the request will be identified as an API request. However, there is no API handler to handle it.

[2019-01-05 06:51] pytimer opened #202 "Add example that using minio as backend in document"
Hi, all

I using `minio` as a backend, like S3. However, [using-with-amazon-s3](https://github.com/helm/chartmuseum#using-with-amazon-s3) section in README.md describe not very clearly.

Is it add description how to using `minio` as a backend? Such as setting `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.

[2019-01-08 15:54] amerghazal commented on #79
I'll be happy to pick this up, thank you

[2019-01-08 16:15] jdolitsky commented on #201
@steven-zou im not sure what to do in this case. Due to current API design, `/api` detected at the root signifies an API route. This issue may also apply to a repo named `/health`.

The best solution I can think of at this time is to add to the documentation that "api" and "health" are invalid repo names. Another way this can be resolved is using and extra depth layer as a vanity prefix, for examp

[2019-01-08 16:17] jdolitsky commented on #202
@pytimer yes good point, should be documented.

Please see this thread: https://github.com/helm/chartmuseum/issues/162

It basically comes down to using the `--storage-amazon-endpoint` option

[2019-01-08 16:18] jdolitsky commented on #200
@tonsV2 yes, can use the vars `BASIC_AUTH_USER` and `BASIC_AUTH_PASS`

[code]

[2019-01-09 01:54] pytimer commented on #202
@jdolitsky Thank for your reponse.

I am willing to do it if necessary, maybe my English is not good.

[2019-01-14 06:46] #200 closed

[2019-01-15 07:13] steven-zou commented on #201
@jdolitsky

Thanks for the response. I don't think using the `DEPTH=2` can resolve the issue because `/r/api/index.yaml` will still be parsed as API route which no handler to handle it (actually I have tested that scenario before submitting this issue, it does not work). Additionally, `DEPTH=2` breaks our design, we only need to enable `DEPTH=1`.

IMO, the `api` should particularly/explicitly be h

[2019-01-17 22:15] jdolitsky commented on #79
@jgiles @Smana this is finally supported in latest/master thanks to @amerghazal #203! Closing

[2019-01-17 22:15] #79 closed

[2019-01-18 08:21] colachg opened #206 "panic: runtime error: invalid memory address or nil pointer dereference"
[code]

I install it with helm chart.
[code]
This is my error log. I found that if I set `env.open.AUTH_ANONYMOUS_GET: true`, the pod will be CrashLoopBackOff.

[2019-01-21 08:36] colachg commented on #206
@jdolitsky Could you help me?

[2019-01-21 09:08] jdolitsky commented on #206
@colachg appreciate your patience, I will try to reproduce this shortly

If you `helm delete --purge` and try again, does this go away?

[2019-01-21 09:44] jdolitsky commented on #206
@colachg of course. in `v0.8.1` it is needed, in `latest` (master) it is optional

[2019-01-22 18:39] #202 closed

[2019-01-23 09:57] #143 closed

[2019-01-25 09:48] mateuszkwiatkowski commented on #152
Hello,

We also see this problem when using Ceph as a backend for chartmuseum.

[2019-02-04 18:56] trimbleAdam opened #210 "Error: 404: could not properly parse response JSON: default backend - 404 Error: plugin "push" exited with error"
Got back from the weekend, and am now seeing this error on the client side. Turned on debug and there is nothing interesting in the chartmuseum logs.

Can someone please provide me with a direction to get to the bottom of this?

k8s version: 1.11
chartmuseum version: tried both v0.7.1 (worked Friday) and 0.8.1 this morning, both have the same problem.

Any help is greatly appreciated!

[2019-02-04 19:06] jdolitsky commented on #210
@trimbleAdam it is likely that the upload API is disabled, please see this thread: https://stackoverflow.com/a/48731728

[2019-02-04 19:18] trimbleAdam commented on #210
Thanks for the quick response!
I actually do have that flag set to true.

My formula for deploying this (has worked until today...) has been fetching the chart from stable, and customizing values.yaml as follows:
`
replicaCount: 1
strategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
image:
  repository: chartmuseum/chartmuseum
  tag: v0.8.1
  pullPolicy: Always
env:
  open:
    #

[2019-02-04 19:40] trimbleAdam commented on #210
Interestingly, even though I've manually specified this API_ACCESS parameter, the value is not found in the pod ENV:

[code]

...and as you pointed out, just fetching http://chartmuseum.my.org.com/api/charts also return 404.

[2019-02-04 19:48] trimbleAdam commented on #210
Could this be a helm version issue? I just upgraded to 2.12.3 recently...

[2019-02-04 19:56] trimbleAdam commented on #210
Forcibly stuff DISABLE_API into deployment and still not working:

[code]

[2019-02-04 20:24] jdolitsky commented on #210
@trimbleAdam is the DNS maybe pointing to the wrong service? Can you try running a `curl localhost:8080/api/charts` inside the container?

[2019-02-04 20:56] trimbleAdam commented on #210
Okay, after getting a one-off Dockerfile set up and curl added, I can see the expected response from curl localhost:8080/api/charts.

Something about the service+ingress must be badly mangled.

[2019-02-04 21:04] trimbleAdam commented on #210
What just worked:

I removed the absolute paths under the ingress.hosts map and left only / and things are working again.

[code]

It is very curious to my as to why this is now this way, but either way thanks for the help!

Adam

[2019-02-04 21:04] #210 closed

[2019-02-06 17:41] rajatvig commented on #206
When is `v0.9.0` planned to be released?

[2019-02-06 17:45] jdolitsky commented on #206
@rajatvig are you running into this issue as well? Was hoping to get a new storage option added prior to release (etcd) but not sure how soon this will be

[2019-02-06 17:54] rajatvig commented on #206
@jdolitsky yes. Have opted to use latest to get it going for now. If the release is more than a week off, could you please do a `v0.8.2` release in the interim?
Using the `latest` tag does not seem stable.

[2019-02-06 18:29] jdolitsky commented on #206
@rajatvig fair enough! will look into a 0.8.2 today

[2019-02-06 21:34] #206 closed

[2019-02-06 21:44] jdolitsky commented on #206
@rajatvig @colachg v0.8.2 is now released with a fix for this! Thank you for your patience
[code]

[2019-02-28 12:47] jeremyxu2010 opened #211 "CAN NOT access ceph object storage via swift"
I setup a ceph object storage and enable swift access. try to access ceph via swift, successed:

[code]

then, i want use chartmuseum to access ceph object storage via swift:

[code]

then error happened:

[code]

chartmuseum version: 0.7.1
ceph version: 12.2.4 (52085d5249a80c5f5121a76d6288429f35e4e77b) luminous (stable)

[2019-03-01 14:21] kaman86 commented on #187
Any update on this?
I am trying to deploy my helm chart using s3 storage and am experiencing the same issue.

{"L":"DEBUG","T":"2019-03-01T14:13:33.512Z","M":"Fetching chart list from storage","repo":""}
{"L":"ERROR","T":"2019-03-01T14:13:33.547Z","M":"NoSuchKey: The specified key does not exist.\n\tstatus code: 404, request id: <values>”,”repo":""}

[2019-03-01 20:55] jdolitsky commented on #211
@jeremyxu2010 hi there, sorry you're having issues. I don't have a lot of experience running chartmuseum with openstack storage.

You may wish to take a look at the code that handles this to see if there are any glaring issues:
https://github.com/chartmuseum/storage/blob/master/openstack.go

And this seems to be the piece in the 3rd-party lib that handles the Auth variables etc.:
https://github.co

[2019-03-01 20:57] jdolitsky commented on #187
@kaman86 can you try the suggestion above? `--disable-statefiles` / `DISABLE_STATEFILES=1`  ?

[2019-03-01 22:34] kaman86 commented on #187
@jdolitsky Sure I can try that, but are we to include that in the helm install command? I am pretty new at this.

[2019-03-01 22:35] kaman86 commented on #187
Actually, I do see the current config in values.yaml (env->open->DISABLE_STATEFILES: false)

[2019-03-01 22:36] jdolitsky commented on #187
@kaman86 yes, please set that to "true"

[2019-03-01 22:41] kaman86 commented on #187
@ jdolitsky Okay I'm no longer getting that error, getting a different one now :) . Progress...thanks for the help.

[2019-03-04 06:32] jeremyxu2010 commented on #211
I notice gophercloud's openstack library only supports v2/v3 authorize method. But I configure the swift access **with ceph only(without keystone)**, ceph **only support v1 authorize** method.

@jdolitsky @gmauleon

`https://github.com/gophercloud/gophercloud/blob/master/openstack/client.go`

[code]

[2019-03-04 18:02] nlowe commented on #201
I believe we're seeing this as well (also using harbor) with a project called `api-design`.

[2019-03-04 18:55] jdolitsky commented on #201
@steven-zou @nlowe ok, we should get this resolved soon. At the very least, only "api" should be whitelisted, not anything with api as a prefix (e.g. api-design, apixel, etc)

[2019-03-04 18:56] jdolitsky commented on #211
@jeremyxu2010 Is it possible to configure your service with v2/v3 support and try again?

[2019-03-04 20:51] gmauleon commented on #211
I guess that would make the most sense to try and change it on the Ceph side if possible (short of changing the openstack client in chartmuseum, but gophercloud is the de facto standard actually, since it's the same used by Kubernetes)

[2019-03-05 00:24] jeremyxu2010 commented on #211
@jdolitsky ceph itself (without keystone) only support v1 authorize method，so Can chartmuseum support ceph's swift or s3?

[2019-03-08 00:03] vngzs opened #212 "HTTP HEAD requests return 404"
I would like to be able to call, mirroring the readme,

[code]

in order to determine the presence of a chart without actually getting it. Instead, when doing this for a chart that is present, chartmuesum returns 404.

[2019-03-08 00:22] jdolitsky commented on #212
@vngzs thanks for opening. This should be pretty easy to implement

[2019-03-11 16:27] jdolitsky commented on #211
@jeremyxu2010 sorry for delay. You can use S3 as a storage backend, but I'm not sure if that answers your question

[2019-03-12 01:41] jeremyxu2010 commented on #211
@jdolitsky I tried ceph object storage via S3, it's OK! But docker's registry CAN NOT support ceph's object storage via S3. See [here](https://github.com/docker/distribution/issues/2189), in this post, someone said docker registry BE NOT compatible with ceph's S3, he suggested use ceph object storage via SWIFT.
So I want docker registry and chartmuseum use the same storage backend  "ceph", what i

[2019-03-12 01:48] soolaugust opened #213 "helm push meet error " permission denied""
Hi, I am using chartmuseum & helm-push plugin, but met error when push chart.

**helm start with docker**

[code]

**helm push a valid chart meet error**

[code]

**logs of chartmuseum is as follow**

[code]

[2019-03-15 03:55] jdolitsky commented on #211
@jeremyxu2010 I see. So basically ChartMuseum does not have a backend option compatible with Swift API.

However, other people have successfully used ChartMuseum with Ceph. Maybe this helm chart config snippet will help? https://github.com/helm/charts/tree/master/stable/chartmuseum#example-storage-class

If you must use Swift, the support must first be added in [chartmuseum/storage](https://github

[2019-03-15 05:32] jdolitsky commented on #213
@soolaugust this looks like permissions error mounting the /data/charts directory. Can you try the same using `-v $(pwd)/charts:/charts` instead?

[2019-03-18 00:30] soolaugust commented on #213
This is related with binding directory permission, I change it and problem solved. Thanks :)

[2019-03-18 00:30] #213 closed

[2019-03-18 01:10] jdolitsky commented on #213
@soolaugust glad to hear! thanks for reporting back

[2019-03-19 19:23] jdolitsky commented on #201
@steven-zou @nlowe @petvaa01 this should be fixed in master/latest. Can somebody help test the `latest` Docker image with Harbor? Once verified I can cut a new release.

[2019-03-19 22:26] nlowe commented on #201
It looks like harbor uses a custom docker image. I'll see if I can get one built and tested this week.

[2019-03-20 12:10] quadrinho opened #215 "ChartMuseum - Delete Chart returns not found"
We try to delete some chart on chartmuseum but we receive:

{"error":"not found"}

curl -X DELETE https://chartmuseum-devscrum.cpaas-accenture.com/charts/software-manager/7.3.8-SNAPSHOT

The chart is present in Chart Museum:

         "name":"software-manager",
         "version":"7.3.8-SNAPSHOT",
         "description":"Helm chart for Software-Manager installation on Kubenetes",
         "apiVers

[2019-03-20 12:14] #215 closed

[2019-03-20 15:54] jdolitsky commented on #215
@quadrinho problem solved? API disabled?

[2019-03-20 15:59] quadrinho commented on #215
Hi,

yes! i forgot "api" in the url.

Thanks!

Alessio

[2019-03-20 16:08] jdolitsky commented on #215
👍

[2019-03-25 11:47] fmotrifork opened #219 "API for listing organizations/repoes in multitenant mode"
I would like to implement a version of ChartMuseumUI that allows the user to browse trough organizations and repoes to list the charts.
For this I need an API endpoint that lists which organizatinos are created in ChartMusen.

An option would be to register an endpoint on 'http://localhost:8080/api/' that returns a list of orgs and repos (dependent on the depth set in the chartmuseum config)

[2019-03-25 15:01] jdolitsky commented on #219
@fmotrifork Hi thanks for opening. Thanks for your work on ChartMuseumUI

Do you have a suggestion for how to implement this? The problem we have is that this information is not backed by any sort of relational database, so any combo of \<org\>/\<repo\> is treated as valid, its only a matter of access and # of charts located in a given location

[2019-03-25 15:44] fmotrifork commented on #219
Hmm.. I guess the right way would be to add an extra function to the Backend interface at 'chartmuseum/storage' that allows listing all "prefixes"?

A quick hack could be to 'ListObjects' with an empty prefix. And use that to build a list of all existing org/repos...

[2019-03-25 18:21] jdolitsky commented on #219
That sounds reasonable. And "listing all prefixes" would mean what exactly? Storage paths at depth X that are non-empty?

[2019-03-26 07:58] fmotrifork commented on #219
Yes. That was my idea.

But I don't know if all the current storage backends are capable of listing "non-empty" paths, or just listing all paths that exist... And I am a bit afraid that listing all objects in a storage backend just to figure out which paths are non-empty could be very expensive.

We may have to consider slacking a bit on that requirement, and instead inform people that of they don

[2019-03-26 08:30] jdolitsky commented on #219
It would seem to me that ChartMuseum UI at some point would want to incorporate some sort of users/RBAC system on top of it. Maybe now is a good time to introduce a database (postgres?) in that project and start doing interesting things like

- create an organization
- create a repo in organization
- create a user
- add user to organization with role

ChartMuseum can continue to be used as the app

[2019-03-28 10:49] fmotrifork commented on #219
I had hoped we could keep CM UI stateless. That makes it much easier for new users to start using it.

An other problem with creating and keeping the organizations in a db in UI is that users can still create new organizations by POST'ing to ChartMuseum directly. This means we still need to scan CM every time (or at least very often) to actually show which organizations exists.

Using the auth lib

[2019-03-29 16:57] garnold54 opened #220 "Deleting a chart that has a version number in its name via the API causes no removal from index"
It seems that deleting a chart that has a version number in its name via the API does not delete the entry from the index. The package is deleted from the file system. Seems similar to #22

With a chart named `mychart`:
[code]

With a chart named `mychart-1.0`
[code]
Cheers,
Grant

[2019-04-08 16:13] romil-punetha commented on #162
I get the same error as @freemantle1989. Im using it on eks. No minio. Anyone having any solutions for this? My chart values looks like:
[code]

[2019-04-09 16:01] jdolitsky opened #221 "Option for auto-detecting hostname for absolute URLs"
Please see https://github.com/helm/helm/issues/5179

We can add a boolean option such as `--chart-url-autodetect`, that is used in place of `--chart-url=<url>`

cc  @hickeyma @rhnewtron @avgalani @2ZZ @91FeiYing

[2019-04-11 16:01] nlowe commented on #201
It seems the chartmuseum repo has changed significantly since Harbor last pulled a version in. I was able to hack our build scripts to make a new image and test this out.

The good news is this seems to have fixed searching searching for images in harbor, I can browse projects that have `api` in their name again.

However, trying to list charts for a project in harbor respond with an error (Harbor

[2019-04-11 16:24] jdolitsky commented on #201
@nlowe you're using a version based on chartmueum latest/master? The requests look correct. The format should be `/api/<repo>/charts`. It comes down to the `DEPTH`/`--depth` configuration being used, which I'm not sure how to configure via Harbor. According to earlier post by Steven, it's always supposed to use DEPTH=1, which should result in /api/nlowe/charts being valid.

Another thing that migh

[2019-04-11 16:26] nlowe commented on #201
Indeed it is disabled:

[code]

Let me see if this was leftover from my hacking on it weeks ago or if this is how harbor always deploys it.

[2019-04-11 16:29] nlowe commented on #201
That fixed it! I was able to upload a chart and get a chart listing!

[2019-04-11 19:38] jdolitsky commented on #201
@nlowe great to hear. thank you for verifying. Will try to push out a release within the next week. Thanks for your patience!

[2019-04-11 19:38] #201 closed

[2019-04-11 19:46] jdolitsky commented on #220
@garnold54 thanks for opening. this may be a tough one to sort out.

Do you mind elaborating on why you put the version in chart name vs just the version?

[2019-04-11 21:26] garnold54 commented on #220
We want to maintain different versions of our helm chart that correspond to different versions of our app. So for example we may release version 1.0 of our app. We have a helm chart for the app. In my example, the version of the helm chart is `0.1.1` and the version of our app is `1.0`. So we want the name of the chart to be `mychart-1.0` and the version of the chart is `0.1.1`. Now we start worki

[2019-04-11 22:11] jdolitsky commented on #220
@garnold54 i see what youre trying to do. I guess my only suggestion at this point is to use a different naming scheme without any number or period chars, such as "mychart" and "mychart-legacy". Unfortunately due to the naming convention of the tarballs this is pretty difficult to solve for all cases.

If you absolutely need to do this, maybe you can take a look at the method that handles this and

[2019-04-17 07:31] fxgsell opened #222 "Not supporting Azure managed identities"
Hello!

Conecting to a Blob storage fail if the Key is not in the environment, it should first try to get the key using MSI.

[2019-04-23 15:47] bitsofinfo commented on #221
encountering the same issue

[2019-04-26 17:40] Sanjanare opened #225 "Delete a chart pushed to chartmuseum which is not there on s3"
Hi ,
i am using chartmuseum on k8s with aws cloud provider .
I pushed a newrelic chart to chartmuseum, i could not see the pushed chart in S3 bucket but when i try to push again after making some changes it says

How can i delete a chart in chartmuseum ?

Please help thanks!

[2019-04-29 23:38] #225 closed

[2019-05-03 17:01] tariq1890 opened #227 "Brew tap for chartmuseum."
Let's have a brew tap for chartmuseum as it's pretty standard for package management in macOS.

[2019-05-03 19:43] tariq1890 opened #229 "CodeFresh CI checks don't seem to be running for pull requests."
Although there is a YAML file for PR checks [here](https://github.com/helm/chartmuseum/blob/02e6cc72bfa4ffdf041dc879a7aab64bb1a2f256/.codefresh/pr.yml), it doesn't look like it has been enabled.

[2019-05-03 21:17] jdolitsky commented on #229
It seems that they are running, but not giving the checkmark on the PRs.. will look into it.

For now can view the PR pipeline queue: https://g.codefresh.io/public/accounts/chartmuseum/pipelines/5c0aa531144012a62fef87a1

[2019-05-08 20:09] jdolitsky commented on #229
@olegsu @dustinvanbuskirk can one of you take a look at the issue with this trigger if/when you have a few min?

[2019-05-10 09:00] gfpa88 opened #231 "curl --data-binary "Permission Denied""
Hi, I am using chartmuseum i'm trying to upload my chart but gives me "permission denied"

helm start with docker

`
docker run --rm -it
  -p 3000:8080
  -e DEBUG=1
  -e STORAGE=local
  -e STORAGE_LOCAL_ROOTDIR=/charts
  -e DISABLE_API=false
  -v $(pwd)/charts:/charts
  chartmuseum/chartmuseum:latest
`

When i run:
`
$ curl --data-binary "@aaa-0.0.1.tgz" http://xx.xx.xx.xx:3000/api/charts
`
I got:

[2019-05-11 12:30] jdolitsky commented on #231
@gfpa88 Hi there. It seems some permission issue on the file `gravitee-0.0.1.tgz` that is already located in the `charts/` dir. Could you try creating a new dir, such as `test/` then try
[code]
?

The try the curl again?

[2019-05-11 15:40] gfpa88 commented on #231
@jdolitsky

Is the same....

[2019-05-11 15:48] jdolitsky commented on #231
Instead of :/charts can you please try :/home/chartmuseum/charts ?

Maybe an issue w the container user, which is now “chartmuseum” (was
previously root)

On Sat, May 11, 2019 at 11:40 AM gfpa88 <notifications@github.com> wrote:

[2019-05-12 13:44] gfpa88 commented on #231
Now it works but without the volume, like this:

docker run --rm -it \
  -p 3000:8080 \
  -e DEBUG=1 \
  -e STORAGE=local \
  -e STORAGE_LOCAL_ROOTDIR=/home/chartmuseum/charts \
  -e DISABLE_API=false \
  chartmuseum/chartmuseum:latest

But when I run with thr volume option, it keeps return permission denied. The folders in the host became write protected.

Example:
 docker run --rm -it \
  -p 300

[2019-05-12 14:18] gfpa88 commented on #231
Finally, I get this to work,

I had to create the volume folders in the host before run the docker command.

Thanks

[2019-05-14 11:27] #231 closed

[2019-05-14 11:49] jdolitsky commented on #231
Great to hear!

[2019-05-22 08:46] TTonyWang opened #235 "CVE-2019-1000009 not fixed in v0.8.2"
ChartMuseum v0.8.1 contains a fix for the security vulnerability CVE-2019-1000009, but the bug still exists when I use ChartMuseum v0.8.2.

$sha256sum chartmuseum
5906ea624c6a8ef55f45de0c17e52cb724b1f099511939a1c2410375e5413858  chartmuseum

Dockerfile:
[code]
I built the docker image and start it with parameters --allow-overwrite=true, depth=1.

After the installation, I start a docker image base

[2019-05-22 15:20] jdolitsky commented on #229
This now fixed

[2019-05-22 15:20] #229 closed

[2019-05-22 21:20] jdolitsky commented on #235
@TTonyWang thanks for opening. In the future, for serious security issues such as this, please send an email to cncf-kubernetes-helm-security@lists.cncf.io so that we can try to fix the issue before it is exploited.

That being said, I was not actually able to reproduce this with the Linux v0.8.2 binary:
[code]

My hope here is that your chartmuseum URL is pointed to an older instance still runnin

[2019-05-23 07:27] TTonyWang commented on #235
@jdolitsky thanks for your reply. I built a new docker image and the API returned a 400 Bad Request response when I pushed an invalid file, as shown in your comment. I tried couple hours to find out why my previous invalid push was succeed but found no clue. I think my issue might have some relations with earlier commands that I didn't notice. You may close the issue now. :)

[2019-05-23 09:10] debarshibasak opened #236 "Adding support for TUF (notary)"
I would like to propose adding support for notary in chartmusem. Allowing multi-party signed charts etc.

[2019-05-23 12:03] debarshibasak commented on #227
That sounds good. It compiles to single binary anyways. It could be added as a release binary to the release in github that could be curl-ed. But running the docker image has the least threshold.

[2019-05-23 13:13] debarshibasak opened #237 "Implement OCI distribution spec"
https://github.com/opencontainers/distribution-spec/blob/master/spec.md

[2019-05-23 13:41] jdolitsky commented on #237
@debarshibasak Hi, thanks for opening.

You are right in that chartmuseum does not adhere, and neither does the chart repository API in any way. There is no plan for this to be the case.

However, Helm 3 will be adhering to OCI for distribution, so you can use something like [docker/distribution](https://github.com/docker/distribution) (Docker registry) to host Helm charts.

Please see the Helm 3.

[2019-05-23 13:42] jdolitsky commented on #236
@debarshibasak hi, can you elaborate a bit on what this might look like?

[2019-05-23 13:42] jdolitsky commented on #235
@TTonyWang glad to hear, thank you!

[2019-05-23 13:42] #235 closed

[2019-05-23 19:27] debarshibasak commented on #237
Hey, sorry if I am asking a naive question.
Does that mean both images and charts could possibly reside in the same registry?

[2019-05-23 20:00] jdolitsky commented on #237
@debarshibasak not naive, this stuff is all new. To answer your question - yes. A single registry can be used to host both images and charts, it depends on the what the registry provider allows for. For example, Docker Hub may decide that it only wants to store Docker images.

[2019-05-24 18:48] potterhe opened #238 "Support for Tencent cloud cos"

[2019-05-24 19:25] potterhe commented on #238
#239

[2019-05-24 19:25] #238 closed

[2019-05-29 04:15] pingf opened #240 "the problem about the auth service"
I‘ve been digging into the bearer token auth scenario， just found that  in
 this page https://github.com/chartmuseum/auth-server-example
[code]

from my personal understanding， here the service should be something represent the chartmuseum itself, not auth server, the auth server will use it to identify different chat museum (so it should not be the address for the auth server).

so it should be s

[2019-06-03 23:51] pjain17 opened #241 "upload of helmchart fails : permission denied"
Hello,
I am trying to add private helm charts to chartmuseum repo.
The chartmuseum pod is up and running but the upload of a chart to this repo fails with the Permission denied error.
[code]

[code]

[2019-06-04 18:31] pjain17 commented on #195
Having the same issue with chart-version : 2.3.1, app-version : 0.8.2
[code]
[code]

[2019-06-04 18:32] pjain17 commented on #241
It is linked to : Chart package can not be uploaded to the chartmuseum #195

[2019-06-04 20:21] pjain17 commented on #241
chart-version : 2.3.1, app-version : 0.8.2
[code]
[code]

[2019-06-10 11:42] yobitelcom opened #242 "Error during installation of Chartmuseum"
The Issue is regarding the Chartmuseum installation, it is working quite well over the local environment, But our focus where to build the same in Cloud medium for public access.

During the chartmuseum installation over GCP, the following issue found.

Issue: The System says Chartmuseum is running but we are not supposed to complete the operation.

the screenshot describes the error is attached h

[2019-06-10 20:14] davidovich opened #243 "Allow disabling the DELETE route"
Presently, if the API is enabled, this also gives a user the DELETE permission globally. This can be a problem in multi-tenant installations as other tenants get the right to delete charts arbitrarily from other tenants.

We should decouple the DELETE route from the `APIEnabled` setting, in the same spirit as we allow controlling overwrites.

[2019-06-10 21:03] jdolitsky commented on #243
@davidovich sounds good to me - this is also true of uploading charts to other tenants. access can be limited w token auth

[2019-06-12 16:14] RGPosadas opened #244 "Image v0.8.2: container has runAsNonRoot and image will run as root"
**Problem**
Even though https://github.com/helm/chartmuseum/pull/167 fixes the `container has runAsNonRoot and image will run as root` error, it doesn't work when PSPs are enabled and it gives the same error.

Here is our PSP:
[code]

**Our attempts at a fix**
1. We set `securityContext: {}` in the `values.yaml` file, however the pod was still brought up with:
[code]
which did not fix the problem.

[2019-06-12 18:10] RGPosadas commented on #244
We figured out that the chartmuseum deployment runs if `imagePullPolicy: Always`. Must be some caching issue, not a chartmuseum issue.

Closing!

[2019-06-12 18:10] #244 closed

[2019-06-17 02:19] hzpfly commented on #240
Hi pingf,
I have also tried to run the example. The service is not used by Chartmuseum or auth-server-example in authentication process. So I think the value can be any string.
BRs
Michael

[2019-06-17 03:36] hzpfly opened #245 "Distributed tracing should be supported"
# Distributed tracing
Distributed tracing, also called distributed request tracing, is a method used to profile and monitor applications, especially those built using a microservices architecture. Distributed tracing helps pinpoint where failures occur and what causes poor performance.
# OpenTracing
OpenTracing is comprised of an API specification, frameworks and libraries that have implemented th

[2019-06-18 06:56] Aibaend opened #246 "Could you help me! http: panic serving 127.0.0.1:51374: runtime error: invalid memory address or nil pointer dereference goroutine 8 [running]:"
Finish [GET] /admin/ Took 4364.66ms
http: panic serving 127.0.0.1:51374: runtime error: invalid memory address or nil pointer dereference
goroutine 8 [running]:
net/http.(*conn).serve.func1(0xc0003a0640)
        /usr/local/go/src/net/http/server.go:1769 +0x139
panic(0x17a8400, 0x1f30240)
        /usr/local/go/src/runtime/panic.go:522 +0x1b5
html/template.(*Template).escape(0x0, 0x0, 0x0)
        /

[2019-06-18 08:53] hzpfly opened #247 "Forced password change at first login and frequently thereafter"
According to RFC2617, The Basic authentication scheme is not a secure method of user    authentication, nor does it in any way protect the entity, which is transmitted in cleartext across the physical network used as the carrier. HTTP does not prevent additional authentication schemes and encryption mechanisms from being employed to increase security or the addition of enhancements (such as scheme

[2019-06-20 15:54] #243 closed

[2019-06-20 16:20] jdolitsky opened #249 "Add docs on --depth-dynamic flag"
cc @wutongjie23hao

[2019-06-20 16:21] jdolitsky commented on #246
@Aibaend hi there. Chartmuseum does not define a `/admin` route, so my guess it this error is coming from the https://github.com/qor/admin project?

[2019-06-20 16:24] jdolitsky commented on #247
@hzpfly Hello, thanks for opening. The chartmuseum server can be redeployed from some external process (e.g. Helm chart) where the basic auth/pass can be sourced from elsewhere and periodically reset/replaced.

I think that this rotation should be handled outside the context of chartmuseum server, do you agree?

[2019-06-20 16:24] jdolitsky commented on #245
@hzpfly thanks for opening. If you can help w a PR would be greatly appreciated :)

[2019-06-20 16:26] jdolitsky commented on #242
@yobitelcom Hi, I'm not seeing any such error in the screenshot?

What do you mean by "The System says Chartmuseum is running but we are not supposed to complete the operation."

[2019-06-20 16:27] jdolitsky commented on #240
@pingf @hzpfly so is the issue just in the auth example and how it is used?

[2019-06-20 16:29] jdolitsky commented on #241
@pjain17 So i think this has to do with the way the /storage is mounted i the container. Can you try with chart version 1.8.2+ ?

[2019-06-21 02:22] hzpfly commented on #247
Thank you @jdolitsky for the reply.
I agree it is a better solution to deploy a node outside of chartmuseum server to change password periodically.  But if there is no such node, can we enhance the password in chartmuseum?

[2019-06-21 04:05] CheneyCookie opened #250 "Use keycloak for chartmuseum auth"
I am trying to use keycloak to do the authentication and authorization of chartmuseum,but it failed.
I want to know whether chartmuseum can auth by keycloak?

[2019-06-21 04:55] pingf commented on #240
@jdolitsky yep, i think so

[2019-06-21 15:32] mattfarina opened #251 "Document maintainers"
The maintainers of this codebase need to be documented in an OWNERS or Maintainers.md file. Examples are available in other codebases.

[2019-06-24 02:42] hzpfly commented on #250
Keycloak can be used for chartmuseum auth.  We tried this before. What kind of issue did you meet?

[2019-06-24 03:57] CheneyCookie commented on #250
I want to know which protocol shall I use. openid-connect,saml or docker-v2?
I have try
`curl -H "Content-Type: application/x-www-form-urlencoded" -i -k https://mykeycloak.com:8443/auth/realms/iam/protocol/openid-connect/token  -X POST -d "grant_type=password&username=admin&password=admin&client_id=helmchart&scope =artifact-repository:mychart:push"`

then I get the access token.

`curl  http://myc

[2019-06-24 04:17] CheneyCookie commented on #250
[code]
Here is my configurations

[2019-06-25 02:29] hzpfly commented on #247
RedHat Keycloak is a good option to do the authentication. We can see if chartmuseum can interact with Keycloak.

[2019-06-25 03:15] hzpfly commented on #250
@jdolitsky I notice you have some commits on bear auth in https://github.com/helm/chartmuseum/pull/190. Would you please give us some comments on this issue?

[2019-06-26 09:03] CheneyCookie commented on #250
I hava solved the problem.I used docker-v2 protocol,and get token by
[code]
Then you can use the token like this guide [chartmuseum/auth-server-example](https://github.com/chartmuseum/auth-server-example)

[2019-06-26 09:03] #250 closed

[2019-06-27 02:54] #240 closed

[2019-06-27 06:15] steven-zou commented on #201
@jdolitsky

Josh, when will the release be ready? We're looking forward to it to fix the issue from our users ^_^.

[2019-06-27 17:29] pjain17 commented on #241
@jdolitsky this was tried with chart version Chart Version: 2.3.1

[2019-07-02 02:17] jianzzz opened #253 "Can not delete chart"
1. use index-cache.yaml
2. use storage.backend: amazon
3. call DELETE /api/charts/<name>/<version>, return true
4. call GET /api/charts, still list the deleted one
5. check backend storage, package is deleted, but  index-cache.yaml still holds the index
6. the deleted one is named xxx-yyy-01-0.1.0.tgz

How can I fix this problem?

[2019-07-02 16:23] #251 closed

[2019-07-03 02:06] reasonerjt opened #254 "Tag a new release?"
Can we tag a new a release to include the fix for #201 in next 1 or 2 weeks?

[2019-07-03 02:09] jdolitsky commented on #254
@reasonerjt yes, working on a 0.9.0 to be available soon (in that time frame)

[2019-07-03 02:14] jdolitsky commented on #201
@steven-zou working on, to be available near future. please follow #254

[2019-07-05 09:57] nfam opened #255 "Feature request: Bind to a specific IP address"
**Use case**: I have chartmuseum run natively on my laptop (not in docker machine). However, from what I see, chartmuseum listens to all available network interfaces, thus any machine in the same wifi is able to access to my chartmuseum.

**Expect**: an argument in CLI to specify which network interface, aka. IP, to bind to.

[2019-07-09 20:45] vadapalliravikumar opened #258 "Support HSTS (HTTP Strict Transport Security)"
Please support HSTS in chartmuseum. This is necessary for us to meet the security compliance requirements.

Ref: https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/HTTP_Strict_Transport_Security_Cheat_Sheet.md

[2019-07-10 21:50] jdolitsky opened #259 "Upgrade to cm storage 0.5.0"

[2019-07-10 22:09] #259 closed

[2019-07-10 22:34] jdolitsky commented on #254
@reasonerjt 0.9.0 has been released! thanks for your patience

[2019-07-10 22:34] #254 closed

[2019-07-10 22:35] jdolitsky commented on #201
@nlowe @steven-zou 0.9.0 version has been released, thank you for your patience :)

[2019-07-11 11:09] ninjadq opened #261 "Cannot delete cache if chart name contains hyphen immediately followed a digital"
If chart name contains hyphen immediately followed by a digit(like the pattern `xxx-1x`, will cause unable to delete the cache of that name problem.

Because after you delete a chart version `xxx-1x-0.0.1` there is no `xxx-1x-0.0.1` object on disk anymore.

Next time when regeneration repo index the chart name and version will lose in [this](https://github.com/helm/chartmuseum/blob/d4a4cf6ff101caf

[2019-07-14 14:37] winromulus commented on #241
I have the same issue. Local storage is broken somewhere, maybe a permissions issue?

[2019-07-15 09:20] jianzzz commented on #253
anyone to answer this question?

[2019-07-15 09:24] jianzzz commented on #261
Do you have any idea to fix this problem?

[2019-07-16 21:47] jdolitsky commented on #253
@jianzzz sorry for delay here. this appear to be a duplicate of #261, lets continue discussion there

[2019-07-16 21:47] #253 closed

[2019-07-16 21:50] jdolitsky commented on #261
Hi, thanks for detailed description.

A quick fix for this is top change pattern for versioning. I believe something like `<name>-<semver>-nonnumerical` would work. It is difficult to determine from the filename alone the name+version if it is not formatted exactly as `<name>-<version>.tgz`

A longer term solution is probably needed to better determine chart version from filename

[2019-07-24 01:33] wangrong2012 commented on #241
#201 docker run --rm **-u 0** -it -d  -p 8080:8080   -e DEBUG=1   -e STORAGE=local   -e STORAGE_LOCAL_ROOTDIR=/charts   -v $(pwd)/charts:/charts   chartmuseum/chartmuseum:latest

Use the root to exec the cmd may resolve the problem.

[2019-07-30 19:47] cryptk opened #263 "Possibility of arm support"
Is there any interest in publishing an arm32v7 docker image?

I have one that I built and pushed to my own docker-registry, but that is obviously a manual process that would need to be re-done with every release.  Adding that functionality to your build pipeline would be quite nice.  I could potentially assist with those efforts, I just wanted to see if it was something that you actually cared abo

[2019-08-19 13:34] #263 closed

[2019-08-22 04:30] duyanghao commented on #261
@jdolitsky why not use last part of `-` as version directly? That means version field could contain any character except `-`.

[2019-08-23 07:57] guoweikuang commented on #83
I think this feature is especially useful. I want to ask what is the current situation.

[2019-08-23 09:14] fabianschwarzfritz commented on #89
I am trying to understand the feature request and its implications.

With this feature, it would be possible to connect a basic-auth enabled ChartMuseum in "mirror-mode" to an existing GCS/S3 bucket filled with helm-charts. One could then log in to ChartMuseum with basic auth credentials and read the charts in the bucket. Modification via ChartMuseum would not be possible, as ChartMuseum runs in "

[2019-08-27 09:13] duyanghao opened #266 "panic: Key "requestid" does not exist"
`chartmuseum` always panics with following errors:
[code]
chartmuseum version: v0.7.1

[2019-08-30 13:30] jdolitsky commented on #261
@duyanghao versions in helm do sometimes contain a "-" character is the problem. For example "1.0.0-rc1"

If anybody has a solution for this, PRs are certainly welcome

[2019-09-02 07:34] duyanghao commented on #261
@jdolitsky I have created a [PR](https://github.com/helm/chartmuseum/pull/268) to solve this conflict, and the core concept is that `Parse chart Version backwards until a field starting with 'digest' is found`.

[2019-09-02 15:19] jdolitsky opened #269 "Upgrade to Helm 2.14.3"
In libs and test

[2019-09-02 15:22] #266 closed

[2019-09-03 09:36] YoninL opened #270 "Is it possible to limit results returned by accessing /api/charts?"
We have a lot of charts, would like to have some query strings like ?limit=15&offset=0 for paging, can we add this support? Thanks.

[2019-09-03 18:28] jdolitsky commented on #270
@YoninL This is currently supported, but we would gladly accept a PR for this. Is the limit on charts or chart versions (i.e one chart may have 100 versions)

[2019-09-04 11:21] YoninL commented on #270
For me currently it's only for charts, but you're right, both may need to take into consideration. Do you have any good ideas?

[2019-09-09 14:29] #261 closed

[2019-09-09 14:34] jdolitsky commented on #261
@duyanghao please test with latest docker image:

[code]

If you can verify, we will cut a new release

[2019-09-10 02:50] duyanghao commented on #261
@jdolitsky Verify successfully as below:
[code]

[2019-09-12 09:09] stephan2012 opened #271 "HTTP 500 when uploading some charts"
Baiscally chartmuseum works as expected. However, just found a Chart where chartmuseum just returns

[code]

How to reproduce:

1. Download the Rook Operator Chart, e.g.

[code]

2. Try to upload to chartmuseum:

[code]

Result:

[code]

Docker image: `chartmuseum/chartmuseum:v0.9.0`

Arguments:

[code]

Logs:

[code]

Many other charts just work fine and found nothing unusual with the rook-ceph C

[2019-09-13 09:21] stephan2012 commented on #271
Problem seems to be that curl (option `-d`) and Ansible's `uri` module do not transparantly upload binary data. Upload succeeds when using the `--data-binary` option with curl:

[code]

[2019-09-13 09:21] #271 closed

[2019-09-14 16:30] jdolitsky commented on #270
@YoninL we could use `chartlimit`, `chartoffset`, `versionlimit`, `versionoffset`. What are your numbers looking like? Lots of charts or lots of chart versions?

[2019-09-14 16:31] jdolitsky commented on #261
@duyanghao thank you for checking this. will put together a release early next week 👍

[2019-09-17 03:11] YoninL commented on #270
Good idea, we have around 100 charts, but only one version for each for now, for the implementation/pr, I'm afraid I don't have time now.

[2019-09-17 14:55] guoweikuang opened #272 "The created time of index.yaml is incorrect after using etcd storage"
Because current etcd storage uses ModRevision as the creation time for each chart in index.yaml, and ModRevision does not serve as creation time or modification time.

ModRevision explanation：https://github.com/etcd-io/etcd/issues/6518

https://github.com/chartmuseum/storage/issues/25

There is a serious problem with using etcd storage, that is, the created time of Chart in index.yaml is wrong.
![

[2019-09-17 14:58] guoweikuang commented on #272
@jdolitsky

[2019-09-19 05:32] prabhu43 commented on #270
@jdolitsky @YoninL  I will work on this and raise PR

[2019-09-19 20:07] ekjuanrejon opened #274 "Chart is not appearing"
Hello

I am uploading charts to azure storage account. I can see the charts are being uploaded. However chart museum is not serving the charts.

Any reason?

[2019-09-24 09:02] aviv320i opened #275 "Fail to parse Unicode"
Hey guys,
Found a bug in the parsing of GET request parameters
[code]

Python code  for reproduction -
[code]

[2019-10-02 19:22] prabhu43 commented on #227
@tariq1890 @debarshibasak I raised PR in homebrew-core which adds formula for chartmuseum. Once it is merged, `brew install chartmuseum` will work

[2019-10-08 02:32] #269 closed

[2019-10-08 02:36] jdolitsky commented on #274
@ekjuanrejon it likely has to do with the configuration of azure storage (for example, is it under nested prefix/folder? etc)

[2019-10-08 02:37] jdolitsky commented on #275
@aviv320i thanks for reporting this

[2019-10-08 03:06] #212 closed

[2019-10-08 08:00] chris-aeviator commented on #170
could you please show the full command, I can't find the param in helm doc (by searching it)

[2019-10-17 09:50] #270 closed

[2019-10-19 01:39] evilezh opened #280 "Does not work with aws service accounts"
I tried to run with AWS service account, but couldn't get it work.

I did check on dependencies and as per this page: https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html it seems 1.23.13 is minimum version required for it to work.

Probably just simple aws sdk dependency update would work.

[2019-10-23 09:15] #272 closed

[2019-10-24 07:22] longlg88 opened #281 "DELETE curl failed"
I use chartmuseum v0.8.1(deploy in kubernetes cluster for chart version chartmuseum-1.9.0).
It can see my app's chart version this command
p.s. [CHARTMUSEUM URL] [APP NAME] --> couldn't expose our service..  sorry for that

`curl -s [CHARTMUSEUM URL]/api/charts/[APP NAME] | jq -r '.[].version`
Then the result example is this.
[code]

I try to curl -s X DELETE for deleting chart.
`curl -s -X DELETE

[2019-10-28 06:31] longlg88 commented on #281
Anybody there?

[2019-11-04 05:49] modassarrana commented on #241
I am not using docker command to install chartmuseum.  Chartmuseum is installed using helm & pods are in running state. I am trying to push istio charm to my newly created charm repository & gettin permission denied.

helm repo list | grep cm
cm                              http://10.0.41.120:8090

[code]

My storage class is not ceph , its a simple storage. Please find storage class & pv details

[2019-11-05 16:16] andyspiers commented on #280
It seems the AWS storage provider is implemented in a separate package `chartmuseum/storage`

The master branch was upgraded to a suitable AWS SDK version in https://github.com/chartmuseum/storage/pull/27 but this hasn't yet been released.

I've asked for it to be released in https://github.com/chartmuseum/storage/issues/32

Once that is done, it will be possible to upgrade chartmuseum.

[2019-11-12 03:25] karuppiah7890 opened #285 "Upgrade helm to 2.16.1"
Upgrade to helm 2.16.1

[2019-11-12 16:24] airadier commented on #152
We also suffered this issue with Dell ECS S3 storage backend. The previously provided PR by @IMBlues apparently has the Substraction operation reversed, as the o1 (in the cache) can never be newer than o2 (in the s3), so a new file will never be detected. I am providing a new PR with same fix but reversing the substraction order.

[2019-11-16 04:56] karuppiah7890 opened #286 "Why no new releases? :/"
I see some good features in the new commits. And two new major versions of helm have come. I'm planning to bump it through this issue #285 . I'm hoping to see some releases 😅 so that people can fix some problems like https://github.com/helm/helm/issues/6849 which needs `helm repo index` to create a proper index yaml file. I need to check how that works in chartmusem, but in any case, I just wanted

[2019-11-29 22:22] jdolitsky commented on #286
@karuppiah7890 you make a good point its been a while! No reason inparticular, just other work and life stuff taking priority.

Will work on getting out a `v0.10` soon.

[2019-12-03 17:58] #285 closed

[2019-12-03 19:02] karuppiah7890 opened #290 "appVersion unmarshalling error - yaml package version issue"
Currently checking go.mod and go.sum shows that internally different yaml packages are being used

go.mod
[code]

go.sum
[code]

Recently there's been lot of issues around this - https://github.com/helm/helm/issues/6849

I noticed an issue in chartmuseum too. Here's how you can reproduce the issue:

1. Get latest version of chartmuseum
2. Run it in local

[code]

3. Now create a dummy chart with a

[2019-12-03 19:08] jdolitsky commented on #290
@karuppiah7890 thanks for detailed report

This sounds good. Looks like the appVersion as created by helm is still in weird format, but at least it is surrounded by quotes and shouldnt prevent the repo being added. Correct?

[2019-12-03 19:10] karuppiah7890 commented on #290
Yes. Repo add will at least work to start with 😄 we can tackle the appVersion scientific notation separately!

[2019-12-03 19:17] #290 closed

[2019-12-03 20:50] #249 closed

[2019-12-03 21:09] jdolitsky commented on #286
v0.10.0 has been released!

[2019-12-03 21:09] #286 closed

[2019-12-04 17:12] slayerjain opened #293 "Unable to upload v2 charts"
Hello, I'm using chartmuseum v0.10.0, and I'm not able to upload v2 charts.

`{"error":"apiVersion 'v2' is not valid. The value must be \"v1\""}`

Does the current version of chartmuseum not support v2 charts?

[2019-12-05 10:31] irockel commented on #293
I had the same issue with v0.10.0, rolling back to v0.9.0 fixed this for me for now. There's seems to be an issue with v0.10.0

[2019-12-05 20:13] jdolitsky commented on #293
@slayerjain thanks for opening, will take a look. Must be the upgrade to helm 2.16.1

[2019-12-09 12:52] karuppiah7890 commented on #293
I'm looking into this. Will raise a PR soon! 😄 ,

[2019-12-09 16:41] #293 closed

[2019-12-09 17:20] slayerjain commented on #293
Thanks! 👍

[2019-12-09 17:31] karuppiah7890 opened #295 "Fix master branch CI"
Master branch CI is failing - https://g.codefresh.io/public/accounts/chartmuseum/builds/5dee7b5ce1d2dd41c91fb016 .

[2019-12-09 17:33] karuppiah7890 opened #296 "Enable usage of GOPROXY in CI"
It was disabled here - https://github.com/helm/chartmuseum/pull/294#issuecomment-563297733

May be we can use `export GOPROXY=https://proxy.golang.org,direct`

[2019-12-09 17:35] karuppiah7890 opened #297 "Acceptance tests"
We have added support for Helm v3 charts - https://github.com/helm/chartmuseum/pull/294 , but there are no acceptance tests for it yet. We need to add acceptance tests to make sure both v2 and v3 work with the latest chartmuseum

[2019-12-09 17:37] karuppiah7890 opened #298 "Move to GitHub actions from Codefresh?"
@jdolitsky Can give more context on why the move. There was a talk that codefresh is not exactly reliable. This is just a placeholder issue to discuss and track this :)

[2019-12-09 17:39] karuppiah7890 commented on #297
We also need acceptance tests for this PR - https://github.com/helm/chartmuseum/pull/291 which is based on this issue https://github.com/helm/chartmuseum/pull/290

[2019-12-10 04:12] karuppiah7890 commented on #296
@jdolitsky any particular reason to use `gocenter.io` ?

[2019-12-15 19:48] ddseapy commented on #293
@jdolitsky do you have a sense of when the next chartmuseum release will be?

[2019-12-15 19:59] jdolitsky commented on #293
@ddseapy working on v3 support now, should be soon

[2019-12-15 20:51] jdolitsky opened #299 "Add additional testing for Helm 3"
Add testing for both versions, similar to what has been done in helm-push: https://github.com/chartmuseum/helm-push/blob/master/acceptance_tests/02-chartmuseum.robot#L11

[2019-12-15 21:11] jdolitsky commented on #293
ChartMuseum v0.11.0 has been released with support for Helm 3 charts (charts with `apiVersion: v2`).

Additionally [helm-push](https://github.com/chartmuseum/helm-push) v0.8.0 has been released with support for Helm 3.

Thanks everybody for your patience!

[2019-12-15 21:12] ddseapy commented on #293
Wow, you weren't kidding.  Thanks!

[2019-12-16 12:32] sharon-vendrov commented on #298
@karuppiah7890 Please add a reference to this claim.

[2019-12-18 06:21] DanielChern opened #301 "ETCD backend - empty output"
I am using chartmuseum v0.11.0 (v0.10.0 got same issue) and etcd v2.0.9
When I am running :
[code]
The output is always empty , may be I am doing something wrong - but I have no exception or even some kind of logs.

[2019-12-18 15:09] 0marq commented on #293
Hello,
I am still getting that same error, even though I just updated ChartMuseum to v0.11.0.
I have installed ChartMuseum with the official stable/chartmuseum Chart. I run Helm v3.0.1.
I tried using the Helm Push plugin but I am getting the same error :

Am I the only one that still has this error with ChartMuseum v0.11.0 ?

[2019-12-18 16:23] 0marq commented on #293
Nevermind, I was running it againt my old values.yaml which referenced image tag 0.10.0...

[2019-12-18 22:37] jdolitsky commented on #293
Thanks for reporting back @0marq !

[2019-12-19 09:16] schizoid90 opened #302 "error: failed to download"
Chart museum version: 0.11.0
Helm version: 3.0.0

I have chartmuseum installed via helm and pushing charts via an automated Jenkins job. The charts are created OK and I can download them manually (using curl) but when I run helm install, I get a failed to download error.

**my index.yaml**
[code]

**api/charts/**
[code]

**search repo**
[code]

**helm install**
[code]
helm repo update does not hel

[2019-12-19 09:52] karuppiah7890 commented on #302
This is possibly an issue with helm itself. Chartmuseum seems to have given the right chart. Also, were you able to download the chart using the url `https://helm.domain.lan/charts/prometheus-0.1.10.tgz`? as that's what is shown in the index

Also, @schizoid90 noticing that you used `-k` in your curl command, I'm thinking that this is related to https://github.com/helm/helm/issues/7226 ? but that

[2019-12-19 10:03] schizoid90 commented on #302
I can download from `https://helm.domain.lan/charts/prometheus-0.1.10.tgz` and inspecting the downloaded tgz file shows the correct files are present.

I used -k because the SSL certificate currently being used self signed and otherwise I receive an error.

I have not signed any charts so am not using --verify. I don't get any further output from helm even using extra verbosity levels (e.g. -v 5)

[2019-12-19 11:33] karuppiah7890 commented on #302
Can you check your local index? `helm search repo myrepo/prometheus` ? And also try `helm fetch myrepo/prometheus` ?

[2019-12-19 11:46] schizoid90 commented on #302
[code]

[code]

[2019-12-19 13:28] karuppiah7890 commented on #302
First thing, get helm 3.0.2 😅 . Just in case.
Next, `fetch` should have worked. For me, it worked even though I didn't give any ca cert when trying locally to reproduce, but everything else - repo add, push required cert. Even curl required it. And ca-file flag works

To check if you have the right ca file, could you use curl?

[code]

[2019-12-19 13:30] karuppiah7890 commented on #302
If curl works for you with ca file, then we have to see why the fetch wouldn't work even with ca file

[2019-12-19 13:37] schizoid90 commented on #302
[code]
helm fetch myrepo/prometheus --ca-file=ca.pem
Error: Get https://helm.domain.lan/charts/prometheus-0.1.10.tgz: x509: certificate signed by unknown authority
[code]

[2019-12-20 00:49] karuppiah7890 commented on #302
Please close the issue 😄

[2020-01-02 09:49] chainhead opened #305 "Permission denied when adding a chart."
Any particular reason for using `chartmuseum` as the user? This does not work well when running in OpenShift where the mounted volume is created with `root` user. Therefore, chart upload fails with a permission denied message.

[2020-01-03 06:16] hangyan commented on #237
You are saying the support for docker registry is not on the roadmap? I'm intrested in implement this feature, so i will just fork for now.

[2020-01-06 15:48] jdolitsky commented on #302
thanks @karuppiah7890 !

[2020-01-06 15:48] #302 closed

[2020-01-06 15:50] jdolitsky commented on #305
@chainhead hello, please see the origins of this: https://github.com/helm/chartmuseum/issues/166

[2020-01-06 16:06] jdolitsky commented on #237
@hangyan the support for OCI/registries is on the roadmap for Helm, but not for ChartMuseum. Please see this page: https://helm.sh/docs/topics/registries/

[2020-01-07 11:38] chainhead commented on #305
My aim is to mount a `PersistentVolumeClaim` as the storage option on a Kubernetes cluster. The volume gets mounted with `root:root` ownership. Since `chartmuseum` is running under the `chartmuseum` user ID, it does not have access to the mounted volume. Therefore, uploading of charts fails due to permission errors.

I will have to edit the default `Dockerfile` to enable access.

[2020-01-07 11:38] #305 closed

[2020-01-07 18:22] abdennour opened #306 "Serverless deployment"
I would like to deploy chartmuseum using AWS Lambda and API gateway.

How can I reuse the same code by adding only `serverless.yaml` file ?
Or should be a new software ?

[2020-01-09 09:41] hangyan commented on #237
I have create a new project https://github.com/hangyan/chart-registry to use OCI as storage backend. It's kind of interesting

[2020-01-09 15:47] migounette opened #307 "Invalid Get ChartMuseum on official https://chartmuseum.com/"
Installation instruction is invalid for the non docker mode
[code]
Maybe a typo !

[code]

[2020-01-09 16:59] jdolitsky commented on #306
@abdennour I'm not sure how to go about this, but it should be possible and interesting to see

[2020-01-10 11:53] theodesp commented on #258
Chartmuseum uses Gin but Gin has no reference for a HSTS support. Only this issue here:
https://github.com/gin-gonic/gin/issues/1712

So we can either write our own middleware -> https://gin-gonic.com/docs/examples/using-middleware/

Or leave it as HSTS can be applied in a proxy level (nginx, Caddy or Traefik)

[2020-01-17 14:58] Cweiping commented on #220
@garnold54 Bug already fixed,please see https://github.com/helm/chartmuseum/pull/268

[2020-01-21 10:43] jgoeres opened #308 "Basic auth configuration does not seem to work via config file"
I would prefer using a config file instead of tons of command line args to configure Chartmuseum.
For our internal testing purposes, using basic auth with anonymous GET access should be fine, so I added these lines to my config file,

    basic.auth.user: admin
    basic.auth.pass: s3cr37
    auth.anonymous.get: true

based on the documentation saying:

Alas, it doesn't work, no authentication is

[2020-01-22 03:45] jdolitsky commented on #308
@jgoeres it seems that the strings have an extra "." character. I realize this is misleading since the flags have "-" characters.

Please see all the keys here: https://github.com/helm/chartmuseum/blob/969515a51413e1f1840fb99509401aa3c63deccd/pkg/config/vars.go#L169

You should be able to do
[code]

Or alternatively:
[code]

Please let me know if that works out

[2020-01-22 08:35] jgoeres commented on #308
Hi,
thanks, the basicauth.user and basicauth.pass keys work inthe config file, and in vars.go I found the equivalent of the switch "--auth-anonymous-get" to be

    authanonymousget: true

Maybe the "mapping rule" mentioned in the docs that I quoted above should be removed entirely and replaced with a pointer to the vars.go file, on perspective to be replaced with a table of all command line flags

[2020-01-31 10:47] shreben commented on #281
Hi @jdolitsky
I also fell into an issue while trying to delete a chart. I'm using chartmuseum `v0.11`, aws s3 as a backend. I'm able to push and pull/fetch charts, but face a weird behavior while trying to delete a chart.
`GET` request:
[code]
Corresponding chartmuseum log entry:
[code]

`DELETE` request:
[code]
Corresponding chartmuseum log entry:
[code]

Could you please point out what could wen

[2020-02-03 13:50] HungUnicorn opened #309 "Provide version in info endpoint"
I would like to see the current version of chartmuseum in one endpoint, e.g., /info, and Documentation should add the following:

### Server Info
`GET /info:` - returns current version

[2020-02-04 14:45] eilonk opened #310 "pushing charts fails - encryption method issue"
Hi, i'm breaking my head over this problem with chartmuseum and can't find any issues on this.
i configured chartmuseum on my aws environment and everything seems fine (the url shows the welcome page, all pods have no errors)
I configured a directory in my computer to serve as a repo, as instructed.

when i try to push the charts (.tgz) to the chartmuseum, i get an error:
[code]
_*xxx mark sensiti

[2020-02-10 15:21] maciejfranek commented on #241
Hi, had similar issue (in my case local storage was used).
I've managed to solve it by changing permissions on the container:
[code]

[2020-02-10 16:22] jopfeffe commented on #281
@longlg88 i'm facing the same issue. Have you found any solution yet?

[2020-02-10 16:26] jopfeffe commented on #152
Same issue with OTC S3 backend. I would love to see a fix in the upcoming release. Otherwise I have to build chartmuseum on my own, just because of ~3 lines of code.

[2020-02-10 23:45] longlg88 commented on #281
@jopfeffe Not yet... I think we should find where this error occured. :(

[2020-02-11 05:32] longlg88 commented on #281
@shreben @jopfeffe  Guys, I found a little strange thing.
I tested like this.
[code]
App version v0.1.0 and v0.1.2 can be deleted,  but v0.1.3-20200211 can't be deleted.
So We should find why charts doesn't delete in chart list because of special characters

[2020-02-11 05:34] longlg88 commented on #281
pkg/chartmuseum/server/multitenant/routes.go

[code]
Delete API will action here

[2020-02-11 07:58] jopfeffe commented on #281
In my case i noticed that the actual file is in fact deleted from the S3 storage but the index.yaml isn't updated. In the logs it says it updated the index.yaml (and the cache one) but the it still contains the file reference.

[2020-02-11 08:03] longlg88 commented on #281
@jopfeffe You're exactly right. I find location which error is occured.

[code]

removeIndexObject function is very weird.

My debug output is this.
[code]

[2020-02-11 08:42] longlg88 commented on #281
At Last!!!
This function makes confusing us.
`chartmuseum/pkg/repo/chart.go`

[code]
The order what we were doing is this.
1. helm push images
2. Using GET method to list chart
3. Using DELETE method chart
4. Using GET method to list chart

As a result, we shouldn't add '-' in version.
example) "name": "sample-name", "version": "v0.0.1" OK
                "name": "sample-name", "version": "v0.0.1-

[2020-02-11 08:47] jopfeffe commented on #281
I am not familiar with go programming, but I could imagine that the problem is located in this function.
https://github.com/helm/chartmuseum/blob/969515a51413e1f1840fb99509401aa3c63deccd/pkg/repo/chart.go#L102

It says:
`// see if this part looks like a version (starts w int)`

But also something like "1.2.3-alpha.1" is also a valid version.
https://semver.org/spec/v2.0.0.html

[2020-02-11 09:06] longlg88 commented on #281
@jopfeffe You're right.

But the chartmuseum doesn't support that kind of version because name and version split based on last dash('-').

Although the version is exactly right that you said because of sementic versioning, chartmuseum get wrong version...

[2020-02-12 06:06] longlg88 commented on #281
Guys.
There is a same issue in chartmuseum.

Check this out.
https://github.com/helm/chartmuseum/issues/22

And i close this issue.

[2020-02-12 06:06] #281 closed

[2020-02-12 09:19] noam-toga opened #311 "chartmuseum cannot server versions which differs in 'build metadata' x.y.z+<build-metadata>'"
So i have 2 versions of my helmchart called dnsutils in my chartmuseum
output of `helm search repo -l`

[code]

my simple `requirements.yaml`:
[code]

now when i try to get the dependencies for that yaml with helm dep cmd -
`helm dependency update charts/workspaces/debug`

i get the wrong version! i get `dnsutils-0.1.0.tgz` instead of  `dnsutils-0.1.0+1.abcdeff.tgz`

output of the helm dep update

[2020-02-18 08:36] venkatesh-phenompeople opened #312 "Facing issue while hosting chartmuseum repo for my organization"
I have hosted private chartmuseum repo post that I was able to upload charts to the repository but I am facing issues in installing the same from that repository.
![Screenshot from 2020-02-18 13-59-46](https://user-images.githubusercontent.com/60699852/74718233-cb9e4100-5257-11ea-8050-9aa979b152ff.png)

[2020-02-18 13:05] venkatesh-phenompeople commented on #312
I fixed the same it's the issue with the template I have linted and fixed the same.

[2020-02-18 13:05] #312 closed

[2020-02-21 15:43] danilorsilva opened #313 "Update chart using the same version"
Hello all,

     Is there a way to update my chart and use the same version?

     For example: i changed the docker image version and would like to update my chart and keep the same version.

Thanks!

[2020-02-24 20:42] jdolitsky commented on #152
@IMBlues @mateuszkwiatkowski @airadier @jopfeffe Would one of you be able to test out master branch with new option `--storage-amazon-nearestsecond` / `STORAGE_AMAZON_NEARESTSECOND=1`? This should fix the issue.

You can use Docker image `chartmuseum/chartmuseum:latest@sha256:75dd03cc7111cd5bc6fac87429a09c9f91e30d0acaeaf2cb2d7ac3568344d83d`

Once I can get confirmation that this is finally fixed (

[2020-02-24 20:42] jdolitsky commented on #280
@evilezh @andyspiers @NikolayMarusenko @biradrags @Igor-Kalyniak @gopisaba @mvisonneau @uLan08 @italolelis Would one of you be willing to test out that this is now fixed on master?

You can use Docker image `chartmuseum/chartmuseum:latest@sha256:75dd03cc7111cd5bc6fac87429a09c9f91e30d0acaeaf2cb2d7ac3568344d83d`

Once I can get confirmation that this is finally fixed (as well as #152), I'll go ahead

[2020-02-24 21:34] rajiteh commented on #152
We are experiencing the same issue with our Openstack Swift based storage. The index is always rebuilt and takes around 30 seconds to complete every `helm dep update`. @jdolitsky is it possible to make this argument also effect swift backends too?

[2020-02-24 21:35] jdolitsky commented on #313
@danilorsilva Yes, you can run chartmuseum with the `--allow-overwrite` option, or add `?force=true` to URL querystring on upload

Closing for now, if still need help, please re-open

[2020-02-24 21:35] #313 closed

[2020-02-24 21:40] jdolitsky commented on #152
@rajiteh - please see https://github.com/chartmuseum/storage/blob/master/amazon.go#L109

We will need to add a `NearestSecond` option to the openstack backend similarly.

and yes, youre probably right about this (`--timestamp-comparison`). Please feel free to propose this change in chartmuseum/storage

[2020-02-25 23:41] rajiteh commented on #152
It turns out the issue I had with openstack is fixed by this change: https://github.com/chartmuseum/storage/commit/a49401b605d9cfdb575289a76a802c05362a93c4

So my issue in particular should be resolved in 1.12.0 release.

However, I already went ahead and implemented the timestamp argument.

[2020-02-26 18:19] jdolitsky commented on #152
@rajiteh thank you very much, looking at your change

[2020-02-27 10:31] jopfeffe commented on #152
Works in my case.

Thank you very much for the effort. Looking forward for the 1.12.0 release.

[2020-02-27 10:53] italolelis commented on #280
Hi @jdolitsky,

I tested the new image with a helm installation:

[code]

Unfortunately, I still got the same error. This is the output:
[code]

The `chartmuseum` service account looks like this:
[code]

I made sure that this cluster supports IRSA properly, and it does as other tools are able to fetch IAMs from service accounts. Maybe there is still something missing to configure?

Happy to help w

[2020-02-27 16:24] jdolitsky commented on #280
@italolelis appreciate you trying this out. Looks like maybe updating the module isnt enough, need to perhaps use a different method for auth in the Go code? If anyone has experience with this lmk

[2020-02-27 16:25] jdolitsky commented on #152
@jopfeffe thanks for trying this out! glad to hear

[2020-02-28 03:21] bqnguyen94 commented on #280
[`session.New`](https://github.com/chartmuseum/storage/blob/262c55ffe016901e8dc12c216d14df5890bf21bc/amazon.go#L47) seems to be the issue here, please take a look at aws/aws-sdk-go#2828 and [this comment](https://github.com/hashicorp/vault/issues/7450#issuecomment-530599734). So essentially we just need to either switch to `session.NewSession` or simply add `AWS_SDK_LOAD_CONFIG=1` for current depl

[2020-03-03 12:46] spigell commented on #255
I need this feature also. +1

[2020-03-04 17:19] arats-io commented on #311
Same problem I do have.

Is allowing us to push packages with all kinds of version structure. But I can only list and use only folowing version structure:
- x.x.x
- x.x.x-SNAPSHOT

Please allow and use and list all pushed versions to repo.

[2020-03-05 12:47] sc250024 commented on #280
I just tried installing ChartMuseum v0.11.0 with Helm chart `stable/chartmuseum` v2.8.0. I tried adding:

[code]

But this didn't work either. Still getting the following messages in the logs:

[code]

[2020-03-09 22:13] jdolitsky commented on #280
@sc250024 im wondering what happens with this combo and latest image? `chartmuseum/chartmuseum:latest@sha256:75dd03cc7111cd5bc6fac87429a09c9f91e30d0acaeaf2cb2d7ac3568344d83d`

[2020-03-10 10:43] sc250024 commented on #280
@jdolitsky Ah right. I just tried it with the image SHA, and it also didn't work. Same error as above:

[code]

**deployment.yaml**
[code]

**serviceaccount.yaml**

[code]

[2020-03-11 10:36] sagiru commented on #311
Hi there,

same problem here. I need to patch a upstream Version of a helm chart and added a suffix to the version like x.y.z-1.mybuild. After an upload to chart museum is the (greatest) served version still the original x.y.z. Please sort the numbers e.g. like the classical "$ sort --version-sort" with the greatest as the top version (0).

`$ echo -e "1.2.3-1.foo\n1.2.3" | sort --version-sort
1.2

[2020-03-18 11:00] slawekjaranowski opened #315 "helm search by keywords - metadata in index.yaml"
Generated index.yaml does not contains metadata with keywords from Chart.yaml

More discussion and test scenario in:  https://github.com/helm/helm/issues/7771

[2020-03-20 00:16] jdolitsky opened #316 "Auto-purge, get rid of old chart versions"
Add feature flags that enable auto-removal of old chart versions in storage based on various age / last used / version parameters

[2020-03-20 10:42] italolelis commented on #280
I also can confirm that running the image `chartmuseum/chartmuseum:latest@sha256:75dd03cc7111cd5bc6fac87429a09c9f91e30d0acaeaf2cb2d7ac3568344d83d` and adding  `AWS_SDK_LOAD_CONFIG: "1"` does the trick. Hopefully we can get a tagged image soon.

Thanks for working on it!

[2020-03-26 00:50] #152 closed

[2020-03-26 22:26] jdolitsky opened #318 "Issue upgrading to latest version of Gin"
Please see https://github.com/gin-gonic/gin/issues/2301

[2020-03-27 01:46] appleboy commented on #318
I make a new PR to fix the issue.

[2020-03-27 02:10] jdolitsky commented on #152
Hi all, new version of chartmuseum has been released (v0.12.0) with a solution for this:

[code]

Big thanks to @rajiteh for putting this together! Thanks all

[2020-03-27 02:13] jdolitsky commented on #280
Hi everyone, thanks for your patience. New version of ChartMuseum has been released (v0.12.0) with the latest version of AWS SDK. Please try it out.

Closing this issue for now, please comment here if you continue to see any issues.

[2020-03-27 02:13] #280 closed

[2020-03-27 07:29] sc250024 commented on #280
Thank you!

[2020-03-27 11:47] cfontes commented on #22
Still happens today

[2020-04-01 10:44] cfontes commented on #311
This is extra bad because the delete feature is not removing the charts with non semantic versions from the index.

[2020-04-01 13:40] balraj111 commented on #241
I change my helm-repository/charts permisson
cd helm-repository
chmod 777 charts
now it is working for me

[2020-04-02 02:40] scbizu commented on #311
@cfontes `curl -X DELETE https://<museum_host>/api/charts/<name>/<non-semantic-version>`  just works for me. Maybe you should update your museum version to the latest release ?

[2020-04-02 03:19] scbizu opened #320 "proposal: museum should always check the upload chart version"
Hi, there !

## Background

1. Helm only support the valid `semver 2 version` chart .
2. But chartmuseum allows the non-semantic chart , and the chart cannot be downloaded from remote museum , it will be the museum garbage  until we found it and delete it manually .

## Proposal

It is better if we can  do some semantic version checking when users upload their chat .

Well , as for details , we sh

[2020-04-02 03:26] jdolitsky commented on #320
Hello, if you can add this via PR as configurable option that would be great. Maybe `--enforce-semver`?

[2020-04-02 03:40] jdolitsky commented on #311
Hello, can people share example Chart.yaml files in these charts? It might be related to Helm 2 vs. Helm 3

[2020-04-02 03:42] jdolitsky commented on #311
Specifically `apiVersion`

[2020-04-02 18:57] pgdagenais opened #321 "Latency value from Chartmuseum logs"
Hey all,

The `latency` value (for example `latency: 520.816056ms`) returned by the logs still has the units in it's string, which when ingested in Elasticsearch cause some conflicts (string vs int) with others go software that write the `latency` values with a int type.

I know that I could use some mapping within Kibana to modify the values of the logs to a int.
But mainly this issue is more of

[2020-04-02 19:16] jdolitsky commented on #321
@pgdagenais thanks for opening. Would love if you're willing to PR this. I'd probably ask to have it behind a configuration flag so as not to affect people relying on current format. Maybe something like `--log-latency-integer`

[2020-04-02 19:29] pgdagenais commented on #321
Awesome I will try to work on that!

Thanks for the quick answer.

[2020-04-07 16:36] samrees opened #323 "no Read-After-Write consistency"
A client we use to access chartmuseum uploads charts then immediately tries to fetch them down. https://github.com/cathive/concourse-chartmuseum-resource/blob/7dab3bf0168f32dbd6632daa8571a4958c7e1145/out.ts#L267

Recently we've been seeing a failure where that immediate GET returns
{"error":"No chart version found for xxxxx-0.59.3"}

Since the backing S3 storage is read-after-write consistent, we

[2020-04-07 16:36] samrees commented on #323
Maybe related to this: https://github.com/helm/chartmuseum/issues/175

[2020-04-13 06:09] ahmadalli commented on #22
I'm having issue with deleting chart with simple version number. this is my chart:

[code]

and when I try to `curl -X Delete $CHARTMUSEUM_URL/api/cache/charts/chart/5.0.14` I get `{"error":"not found"}` while `curl -X Delete $CHARTMUSEUM_URL/api/cache/charts/chart | jq -r '.[].version' returns the `5.0.14` version

[2020-04-15 22:26] #320 closed

[2020-04-21 18:50] tushi0407 commented on #244
I am also getting the same issue.But in my case infra is handled by infra team and they make it mandatory to make images as non root user.I am stuck there as i am not sure how i can make my angular app using non root user.Here is my docker file :

FROM  docker.com/node:latest as node
WORKDIR /app

COPY . .
RUN npm install
#RUN npm build --prod
RUN npm run ng build -- --prod

#stage 2 : to run appl

[2020-04-22 13:19] liyaka opened #325 "Feature request: add an option to define a mirror for other helm repos"

[2020-04-24 04:04] xiongkun01 commented on #220
There are still bugs after the fix，such as version: 0.1.1-58955665

[2020-04-27 17:44] pgdagenais commented on #321
Hey @jdolitsky, my co-worker was able to work on the issue, please see the linked pull request

[2020-04-27 17:54] #321 closed

[2020-04-27 18:15] jdolitsky commented on #321
@pgdagenais thanks for notifying me - just merged! Should be available on `chartmuseum/chartmuseum:latest` if you want to try

[2020-04-27 18:15] pgdagenais commented on #321
Awesome we will try for sure thanks!

[2020-04-28 17:52] leoschet commented on #220
I tried deleting a chart using the same `curl` command described in the issue and my `index-cache.yml` was not updated.

[2020-04-29 23:47] jgreat opened #326 "Can chartmuseum use TLS for redis cache?"
Is it possible to configure chart museum to use TLS with redis?

I believe the go-redis/redis library supports TLS connections automatically if you use a `rediss://` url to configure the connection.  Is it possible to configure the cache options with the standard url pattern instead of the separate options?

[2020-05-01 15:57] guneemwelloeux opened #327 "Slow to start and unstable with 7000 charts in GCP"
We have had quite a lot of failures recently due to chartmuseum being super slow when rebuilding the index on the fly, having to parse 7000 charts in a Google Cloud Storage bucket.

Startup time is also dramatically impacted, taking up to 5 min. I had to adjust the probes initial delay to prevent Kubernetes from loop-killing chartmuseum.

To reproduce slow start:
* Have a bucket with 7000 charts,

[2020-05-01 21:08] kferrone opened #328 "Access Denied with EKS Service Account"
I'm using the Helm chart with version 2.12.0 which says cahrtmuseum version is 0.12.0.

I followed exactly the instructions for linked service accounts. I have done this many times to other Helm charts and it always has worked before doing the exact process described.

Here is the error I get:

2020-05-01T20:52:29.226080384Z 2020-05-01 20:52:29.226031 I | AccessDenied: Access Denied
2020-05-01T20:

[2020-05-05 13:20] jopfeffe opened #329 "Four digits version schema (e.g. 1.2.3.4) leads to "Improper constraint""
It seems that chartmuseum is not able to serve helm charts with four digits version schema. I good description of the issue can be found here:
https://support.cloudbees.com/hc/en-us/articles/360035624272-ChartMuseum-API?mobile_site=false

[2020-05-07 01:47] itssimon commented on #328
I'm having the exact same issue. Have confirmed that the service account is being used by the pod and that it has permission to access the S3 bucket.

    {"L":"DEBUG","T":"2020-05-07T01:42:33.781Z","M":"Fetching chart list from storage","repo":""}
    {"L":"ERROR","T":"2020-05-07T01:42:33.784Z","M":"AccessDenied: Access Denied\n\tstatus code: 403, request id: xxx, host id: xxx","repo":""}
    202

[2020-05-09 11:08] aelbarkani commented on #237
@hangyan interesting idea, to have chartmuseum act as a proxy especially for tools that do not support yet Helm v3 like ArgoCD. any plans to merge this to official Chartuseum repo ?

[2020-05-11 12:12] dilipv21 commented on #328
I too has same issue, running helm repo seems to have an issue.

Always returns access denied.

[2020-05-11 17:06] jdolitsky commented on #237
If somebody wants to submit an "OCI" backend, which converts between APIs, would be happy to review this

[2020-05-12 15:12] mattfarina commented on #329
This is a broader thing with Helm. The `version` of a chart is expected to be "A SemVer 2 version". A version, such as `2.164.1.2` isn't valid per semver so it will cause issues with Helm. The `appVersion` field does not expect a certain type.

[2020-05-14 13:23] codwu opened #331 "delete a chart that does not exists should return 404"
When I try to delete a chart
[code]
It always returns `{"deleted":true}`  even if the chart does not exists. I think it should return 404.
My chartmuseum version is  0.11.0 (build 2b6b47d) and I use S3 as backend storage.

[2020-05-18 19:20] szpuni commented on #328
Same issue here too.
I have created another pod with awscli just to confirm that my ServiceAccount works as it should and I can interact with s3 bucket when I use that new pod.
Used exact same ServiceAccount attached to that new POD while ChartMuseum is failing in background and I can confirm that ServiceAccount works as expected.

ChartMuseum for some reason fails to authenticate with AWS.
I saw

[2020-05-18 20:13] kferrone commented on #328
@szpuni I can confirm everything works fine with the Access and Secret key configuration in values.yaml. This is what I had to do in the mean time until service account works.

[2020-05-18 20:27] szpuni commented on #328
I think there is a problem with Token when using ServiceAccount.
In EKS and Kubernetes you need to use JSON Tokens based on JWT as far as I remember (or something similar).
EKS have requirement for application to use `AWS_WEB_IDENTITY_TOKEN_FILE` and I'm not sure if this is implemented or implemented correctly.
I really do not want to use AWS KEY_ID and Secret since this approach is a bit less sec

[2020-05-19 07:55] stainboy commented on #331
Per common understanding, DELETE operation is idempotent. And therefore, the behavior is correct regardless the chart exists or not.

[2020-05-19 08:20] stainboy opened #332 "Performance downgrade when dealing with thousands of charts"
## Background
In our use case, it's easy to generate thousands of charts within couple weeks because CI/CD pipeline is integrated with hundreds of GitHub repositories and each pipeline run generates one chart.

Per observation, **It takes more than 10s to response any API (e.g. `GET /api/charts/<name>`) if there are about 5000 charts.**. Performance downgrade is dramatic and unacceptable. Especial

[2020-05-19 16:49] scbizu commented on #332
May the auto-purge will be helpful in your case ? If so , here is a help-wanted issue: https://github.com/helm/chartmuseum/issues/316

[2020-05-19 17:06] scbizu commented on #327
It seems that `batch` is a platform-specified solution though . As the performance issue reported in #332 , not only add charts ,  but get charts also will be affected.

May the auto-purge is a general workaround for you ?

[2020-05-19 17:54] scbizu commented on #311
@jdolitsky Hi , I try to reproduce this issue in my local museum , and find that the Chart with the build version (e.g.: `1.2.3+1.foo`) is always list behind the primary version (e.g.: `1.2.3`) even if the build version is uploaded after primary version .  So, when we `helm pull` our chart , we will still get the old primary version (1.2.3 in this case),  and we should specify the `version`  throu

[2020-05-19 20:29] jdolitsky commented on #332
@stainboy thanks for detailed report, few things:

1. If you can help with improving caching and performance in chartmuseum via PR, it would be greatly appreciated by many
2. Helm 3.0+ has now experimental support for registries, which are a better long term solution for helm charts storage performance (vs helm repos + chartmuseum): https://helm.sh/docs/topics/registries/
3. Harbor 2.0 just came o

[2020-05-21 04:04] stainboy commented on #332
Thanks for the information. I believe eventually auto-purge is the key feature to address the issue, especially to save disk space. However, for the time being, the performance issue can be solved easily to improve the cache management mechanism.

[2020-05-21 04:06] stainboy commented on #332
We do plan to create a PR to solve the performance issue. It will be ready in one week or two. Meantime, Harbor 2.0 is also great. I will try out and test the performance a bit. Thanks.

[2020-05-29 18:40] terry-sm commented on #328
I was able to workaround this by adding a truthy environment variable to an EKS deployment:

`AWS_SDK_LOAD_CONFIG="true"`

[2020-05-29 18:52] jdolitsky commented on #328
@terry-sm - which version of chartmuseum are you running?

[2020-05-29 18:53] terry-sm commented on #328
Image: `chartmuseum/chartmuseum:v0.12.0`
Helm Chart: `2.13.0`

[2020-05-31 17:55] kobynet commented on #220
Same happens to me, using 0.12 version

[2020-06-03 09:07] CoolDuke commented on #255
I want chartmuseum to listen on the loopback device to deploy an Nginx in front of it and prohibiting access to chartmuseum directly.

My current workaround is setting up a firewall rule via systemd unit file right before chartmuseum starts:
[code]

[2020-06-03 12:07] outime opened #334 "Use newer Alpine for Docker image"
[Current Docker image](https://github.com/helm/chartmuseum/blob/master/Dockerfile) uses `3.10.3` which is behind the official Alpine `3.12.0` currently available. Moreover, the `latest` image published in Docker Hub is more than a month old so it's very possible that some packages need some updating.

[2020-06-04 12:50] outime commented on #328
I can confirm this also happens to me with EKS and the latest version `v0.12.0`.

[2020-06-04 15:04] jdolitsky commented on #328
@outime does using `AWS_SDK_LOAD_CONFIG="true"` fix it?

[2020-06-04 15:16] outime commented on #328
@jdolitsky that solves it partially. You also need to add a `securityContext` to the deployment since by default, chartmuseum is ran by a non-root used. By adding a `fsGroup` with value `65534` it makes it possible for the non-root user to read the files that will finally allow to obtain proper auth for AWS calls.

[2020-06-04 15:27] jdolitsky opened #336 "Helm chart to support EKS service accounts"
Need to update stable/chartmuseum to support AWS service accounts on EKS.

For more info, see #328

[2020-06-05 13:05] duyanghao commented on #148
@jdolitsky Any updates?

[2020-06-07 19:51] jeffzhu503 opened #337 "--depth-dynamic boolean flag does not work"
https://github.com/helm/chartmuseum/pull/232 is supposed to enable this config variable.  However, by reading the code and also running in the debug mode, I suspect that it does not really do what we might expect.  The changes in the match() function in match.go file for this feature don't seem to do anything. Under the debug mode, the logic in the match() is confusing.
I can't find any design doc

[2020-06-07 20:07] jeffzhu503 commented on #337
The request of doc https://github.com/helm/chartmuseum/issues/249 is never answered.

[2020-06-11 06:01] jeffzhu503 commented on #337
Could you please update me with any original design with this config variable?  It seems if user set --depth-dynamic to true, we shall be able to get/post chart in the various level from 0-3.  Is it correct?  Any past design document or feature request for this flag?  I think dig a little deep and see if I can provide a fix. Thanks.

[2020-06-11 09:23] sharkymcdongles opened #340 "Chartmuseum doesn't consistently report back the correct chart when using helm search."
We use a project called helmsman to manage state in our environments. When it runs it does a helm search of every chart in the desired state file. This search often time fails to find charts that exist within the cache even. I can see it when I grep and when I open it with less. (in .cache/helm/repository/repo-index.yaml). Our repo is pretty big with 30k+ chart versions, and the index. yaml is aro

[2020-06-11 09:24] #340 closed

[2020-06-11 09:24] sharkymcdongles commented on #340
Sorry wrong project. Originally thought it was chartmuseum, but seems it is helm problem.

[2020-06-11 15:02] jdolitsky commented on #337
@jeffzhu503 all of the background on this is the single PR: https://github.com/helm/chartmuseum/pull/232

I believe it should support any level

[2020-06-17 15:38] jayme-github commented on #308
I would like as well to configure chartmuseum via config file and while doing so, found that a lot of inconsistencies the configVars keys used. For a lot of commands the `-` has to be omitted and there also are special cases like: https://github.com/helm/chartmuseum/blob/a258b600c1dea4fe536e96ead74716b13e1bff66/pkg/config/vars.go#L733 and https://github.com/helm/chartmuseum/blob/a258b600c1dea4fe53

[2020-06-17 21:27] LukeBalizetPatriot opened #342 "--context-path does not show up in serverInfo when storage=amazon"
I am not sure if this is the desired behavior, but when I run chartmuseum with the `--context-path` flag and `--storage=amazon`, `serverInfo` shows up as an empty object when getting `index.yaml`. I would like `serverInfo` to display `contextPath` when getting `index.yaml` but this is not happening. If this is indeed the desired behavior, why is it like this? Thank you for your help

[2020-06-20 11:38] Abhishek1121-tech commented on #148
@jdolitsky  Any updates?

[2020-06-20 18:46] scbizu commented on #148
@mailzyok Hey , may I ask If you set the cache mechanism ? Or if you use the same backend storage , I  guess it depends on what's your chart version is ? If all the same , the second upload will be ignored without `allowoverwrite` set .

[2020-06-22 09:09] drweber opened #344 "Is not a valid chart repository or cannot be reached. read: operation timed out"
Chartmuseum `v0.12.0`. RKE `v1.16.3` on baremetal
[code]
SSL certificate green from Let's Encrypt

[code]

[code]
172.16.242.102 - my local IP
10.165.96.52 - service in Kubernetes

the same, if curl or in browser open https://<url>/index.yaml, I'm getting `504 Gateway Time-out` from nginx-ingress
from ingress-controller pod the same situation as from local machine even if send request into Cluster

[2020-06-22 09:59] drweber commented on #344
[code]
chartmuseume logs from POD
[code]

[2020-06-22 21:04] drweber commented on #344
@jdolitsky @technosophos guys, please nee your help

[2020-06-23 20:54] #344 closed

[2020-06-23 22:43] digitalassembly commented on #220
Having the same issue here, my version is something like 1.0.0-rc1

[2020-06-23 22:44] digitalassembly commented on #22
It still happens in the latest version, my version is something like 1.0.0-rc1, deleting using CURL doesn't delete from index.

[2020-06-24 10:19] spigell commented on #301
Hi. Are you using etcd with tls? I think you should use https scheme, e.g. httpS://localhost:2379 then.

In my case on etcd endpoint were such logs if pass http scheme.
[code]

[2020-06-24 16:00] jdolitsky commented on #344
@drweber - were you able to resolve this?

[2020-06-26 08:27] scbizu commented on #22
@ahmadalli  Hihi, can you provide the whole bootstrap command , It seems strange that why you delete the chart via `/cache/charts/` ?